[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
[packages]

requests = "*"
xmltodict = "*"
pyparsing = "*"










[dev-packages]

pytest = "*"
vcrpy = "*"
"pytest-mock" = "*"
"pep8" = "*"
