interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/rake.json
  response:
    body: {string: '{"name":"rake","downloads":169077802,"version":"12.1.0","version_downloads":675411,"platform":"ruby","authors":"Hiroshi
        SHIBATA, Eric Hodel, Jim Weirich","info":"Rake is a Make-like program implemented
        in Ruby. Tasks and dependencies are\nspecified in standard Ruby syntax.\nRake
        has the following features:\n  * Rakefiles (rake''s version of Makefiles)
        are completely defined in standard Ruby syntax.\n    No XML files to edit.
        No quirky Makefile syntax to worry about (is that a tab or a space?)\n  *
        Users can specify tasks with prerequisites.\n  * Rake supports rule patterns
        to synthesize implicit tasks.\n  * Flexible FileLists that act like arrays
        but know about manipulating file names and paths.\n  * Supports parallel execution
        of tasks.\n","licenses":["MIT"],"metadata":{},"sha":"5cbb774dfd1c31c4ef19e365728b8a9ecb8b0b74349496c32e3a993aee7dd855","project_uri":"https://rubygems.org/gems/rake","gem_uri":"https://rubygems.org/gems/rake-12.1.0.gem","homepage_uri":"https://github.com/ruby/rake","wiki_uri":"","documentation_uri":"http://docs.seattlerb.org/rake","mailing_list_uri":"","source_code_uri":"https://github.com/ruby/rake","bug_tracker_uri":"https://github.com/ruby/rake/issues","changelog_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"\u003e=
        0"},{"name":"coveralls","requirements":"\u003e= 0"},{"name":"minitest","requirements":"\u003e=
        0"},{"name":"rdoc","requirements":"\u003e= 0"},{"name":"rubocop","requirements":"\u003e=
        0"}],"runtime":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"3227ffc91e73c3aec3c62e13c9a120c0"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/rake.json
  response:
    body: {string: '[{"authors":"Hiroshi SHIBATA, Eric Hodel, Jim Weirich","built_at":"2016-12-06T00:00:00.000Z","created_at":"2017-09-11T02:23:09.491Z","description":"Rake
        is a Make-like program implemented in Ruby. Tasks and dependencies are\nspecified
        in standard Ruby syntax.\nRake has the following features:\n  * Rakefiles
        (rake''s version of Makefiles) are completely defined in standard Ruby syntax.\n    No
        XML files to edit. No quirky Makefile syntax to worry about (is that a tab
        or a space?)\n  * Users can specify tasks with prerequisites.\n  * Rake supports
        rule patterns to synthesize implicit tasks.\n  * Flexible FileLists that act
        like arrays but know about manipulating file names and paths.\n  * Supports
        parallel execution of tasks.\n","downloads_count":675289,"metadata":{},"number":"12.1.0","summary":"Rake
        is a Make-like program implemented in Ruby","platform":"ruby","rubygems_version":"\u003e=
        1.3.2","ruby_version":"\u003e= 1.9.3","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"5cbb774dfd1c31c4ef19e365728b8a9ecb8b0b74349496c32e3a993aee7dd855"},{"authors":"Hiroshi
        SHIBATA, Eric Hodel, Jim Weirich","built_at":"2016-12-06T00:00:00.000Z","created_at":"2016-12-06T11:44:43.964Z","description":"Rake
        is a Make-like program implemented in Ruby. Tasks and dependencies are\nspecified
        in standard Ruby syntax.\nRake has the following features:\n  * Rakefiles
        (rake''s version of Makefiles) are complete[...]
