interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hex.pm/api/packages/wabbit
  response:
    body: {string: '{"url":"https://hex.pm/api/packages/wabbit","updated_at":"2017-10-02T08:34:14.957758Z","repository":"hexpm","releases":[{"version":"0.3.0","url":"https://hex.pm/api/packages/wabbit/releases/0.3.0"}],"owners":[{"username":"pma","url":"https://hex.pm/api/users/pma","email":"paulo.almeida@timeboxed.co.ao"}],"name":"wabbit","meta":{"maintainers":["Paulo
        Almeida"],"links":{"GitHub":"https://github.com/pma/wabbit"},"description":"GenStage
        based interface for RabbitMQ"},"inserted_at":"2017-10-02T08:34:07.411221Z","html_url":"https://hex.pm/packages/wabbit","downloads":{"week":1,"recent":1,"day":1,"all":1}}'}
    headers:
      Content-Type: [application/vnd.hex+json; charset=utf-8]
      Etag: [65aa237a5fd5ff3ec0151645372fc7f5]
      Last-Modified: ['Mon, 02 Oct 2017 08:34:14 GMT']
      X-Ratelimit-Limit: ['100']
      X-Ratelimit-Remaining: ['99']
      X-Ratelimit-Reset: ['1507050180']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://hex.pm/api/packages/wabbit/releases/0.3.0
  response:
    body: {string: '{"version":"0.3.0","url":"https://hex.pm/api/packages/wabbit/releases/0.3.0","updated_at":"2017-10-02T08:34:14.953414Z","retirement":null,"requirements":{"rabbit_common":{"requirement":"~>
        3.6","optional":false,"app":"rabbit_common"},"gen_stage":{"requirement":"~>
        0.12","optional":false,"app":"gen_stage"},"connection":{"requirement":"~>
        1.0","optional":false,"app":"connection"},"amqp_client":{"requirement":"~>
        3.6","optional":false,"app":"amqp_client"}},"package_url":"https://hex.pm/api/packages/wabbit","meta":{"elixir":"~>
        1.3","build_tools":["mix"],"app":"wabbit"},"inserted_at":"2017-10-02T08:34:07.468034Z","html_url":"https://hex.pm/packages/wabbit/0.3.0","has_docs":true,"downloads":1}'}
    headers:
      Content-Type: [application/vnd.hex+json; charset=utf-8]
      Etag: [675e7b820e47f10f80c783b62048e7d3]
      Last-Modified: ['Mon, 02 Oct 2017 08:34:14 GMT']
      X-Ratelimit-Limit: ['100']
      X-Ratelimit-Remaining: ['98']
      X-Ratelimit-Reset: ['1507050180']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/pma/wabbit
  response:
    body: {string: '{"id":71293410,"name":"wabbit","full_name":"pma/wabbit","owner":{"login":"pma","id":37843,"avatar_url":"https://avatars3.githubusercontent.com/u/37843?v=4","gravatar_id":"","url":"https://api.github.com/users/pma","html_url":"https://github.com/pma","followers_url":"https://api.github.com/users/pma/followers","following_url":"https://api.github.com/users/pma/following{/other_user}","gists_url":"https://api.github.com/users/pma/gists{/gist_id}","starred_url":"https://api.github.com/users/pma/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pma/subscriptions","organizations_url":"https://api.github.com/users/pma/orgs","repos_url":"https://api.github.com/users/pma/repos","events_url":"https://api.github.com/users/pma/events{/privacy}","received_events_url":"https://api.github.com/users/pma/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/pma/wabbit","description":"GenStage
        based interface for RabbitMQ","fork":false,"url":"https://api.github.com/repos/pma/wabbit","forks_url":"https://api.github.com/repos/pma/wabbit/forks","keys_url":"https://api.github.com/repos/pma/wabbit/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pma/wabbit/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pma/wabbit/teams","hooks_url":"https://api.github.com/repos/pma/wabbit/hooks","issue_events_url":"https://api.github.com/repos/pma/wabbit/issues/events{/number}","events_url":"https://api.github.com/repos/pma/wabbit/events","assignees_url":"https://api.github.com/repos/pma/wabbit/assignees{/user}","branches_url":"https://api.github.com/repos/pma/wabbit/branches{/branch}","tags_url":"https://api.github.com/repos/pma/wabbit/tags","blobs_url":"https://api.github.com/repos/pma/wabbit/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pma/wabbit/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pma/wabbit/git/refs{/sha}","trees_url":"https://api.github.com/repos/pma/wabbit/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pma/wabbit/statuses/{sha}","languages_url":"https://api.github.com/repos/pma/wabbit/languages","stargazers_url":"https://api.github.com/repos/pma/wabbit/stargazers","contributors_url":"https://api.github.com/repos/pma/wabbit/contributors","subscribers_url":"https://api.github.com/repos/pma/wabbit/subscribers","subscription_url":"https://api.github.com/repos/pma/wabbit/subscription","commits_url":"https://api.github.com/repos/pma/wabbit/commits{/sha}","git_commits_url":"https://api.github.com/repos/pma/wabbit/git/commits{/sha}","comments_url":"https://api.github.com/repos/pma/wabbit/comments{/number}","issue_comment_url":"https://api.github.com/repos/pma/wabbit/issues/comments{/number}","contents_url":"https://api.github.com/repos/pma/wabbit/contents/{+path}","compare_url":"https://api.github.com/repos/pma/wabbit/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pma/wabbit/merges","archive_url":"https://api.github.com/repos/pma/wabbit/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pma/wabbit/downloads","issues_url":"https://api.github.com/repos/pma/wabbit/issues{/number}","pulls_url":"https://api.github.com/repos/pma/wabbit/pulls{/number}","milestones_url":"https://api.github.com/repos/pma/wabbit/milestones{/number}","notifications_url":"https://api.github.com/repos/pma/wabbit/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pma/wabbit/labels{/name}","releases_url":"https://api.github.com/repos/pma/wabbit/releases{/id}","deployments_url":"https://api.github.com/repos/pma/wabbit/deployments","created_at":"2016-10-18T21:35:33Z","updated_at":"2017-09-04T17:10:02Z","pushed_at":"2017-10-02T08:33:27Z","git_url":"git://github.com/pma/wabbit.git","ssh_url":"git@github.com:pma/wabbit.git","clone_url":"https://github.com/pma/wabbit.git","svn_url":"https://github.com/pma/wabbit","homepage":"","size":31,"stargazers_count":44,"watchers_count":44,"language":"Elixir","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":8,"mirror_url":null,"open_issues_count":1,"forks":8,"open_issues":1,"watchers":44,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","featured":true},"network_count":8,"subscribers_count":4}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"749c28ce446a5697f7c64b9539a69675"']
      Last-Modified: ['Mon, 04 Sep 2017 17:10:02 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: [repo]
      X-GitHub-Media-Type: [github.drax-preview; format=json]
      X-OAuth-Scopes: [repo]
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4998']
      X-RateLimit-Reset: ['1507052981']
    status: {code: 200, message: OK}
version: 1
