interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hex.pm/api/packages/phoenix
  response:
    body: {string: "{\"url\":\"https://hex.pm/api/packages/phoenix\",\"updated_at\"\
        :\"2017-10-02T15:18:28.366294Z\",\"repository\":\"hexpm\",\"releases\":[{\"\
        version\":\"1.3.0\",\"url\":\"https://hex.pm/api/packages/phoenix/releases/1.3.0\"\
        },{\"version\":\"1.3.0-rc.3\",\"url\":\"https://hex.pm/api/packages/phoenix/releases/1.3.0-rc.3\"\
        },{\"version\":\"1.3.0-rc.2\",\"url\":\"https://hex.pm/api/packages/phoenix/releases/1.3.0-rc.2\"\
        },{\"version\":\"1.3.0-rc.1\",\"url\":\"https://hex.pm/api/packages/phoenix/releases/1.3.0-rc.1\"\
        },{\"version\":\"1.3.0-rc.0\",\"url\":\"https://hex.pm/api/packages/phoenix/releases/1.3.0-rc.0\"\
        },{\"version\":\"1.2.5\",\"url\":\"https://hex.pm/api/packages/phoenix/releases/1.2.5\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://hex.pm/api/packages/phoenix/releases/1.3.0
  response:
    body: {string: '{"version":"1.3.0","url":"https://hex.pm/api/packages/phoenix/releases/1.3.0","updated_at":"2017-07-28T18:51:09.273585Z","retirement":null,"requirements":{"poison":{"requirement":"~>
        2.2 or ~> 3.0","optional":false,"app":"poison"},"plug":{"requirement":"~>
        1.3.3 or ~> 1.4","optional":false,"app":"plug"},"phoenix_pubsub":{"requirement":"~>
        1.0","optional":false,"app":"phoenix_pubsub"},"cowboy":{"requirement":"~>
        1.0","optional":true,"app":"cowboy"}},"package_url":"https://hex.pm/api/packages/phoenix","meta":{"elixir":"~>
        1.3","build_tools":["mix"],"app":"phoenix"},"inserted_at":"2017-07-28T18:50:42.224464Z","html_url":"https://hex.pm/packages/phoenix/1.3.0","has_docs":true,"downloads":173553}'}
    headers:
      Content-Type: [application/vnd.hex+json; charset=utf-8]
      Etag: [d98823ea86580c85f709754a631f9f1c]
      Last-Modified: ['Fri, 28 Jul 2017 18:51:09 GMT']
      X-Ratelimit-Limit: ['100']
      X-Ratelimit-Remaining: ['98']
      X-Ratelimit-Reset: ['1507042320']
    status: {code: 200, message: OK}
version: 1
