interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/toptal/license-cop/contents/fixtures
  response:
    body: {string: '[{"name":"cassettes","path":"fixtures/cassettes","sha":"f646192579d2d78450aacc7114a2cb97a98ad893","size":0,"url":"https://api.github.com/repos/toptal/license-cop/contents/fixtures/cassettes?ref=master","html_url":"https://github.com/toptal/license-cop/tree/master/fixtures/cassettes","git_url":"https://api.github.com/repos/toptal/license-cop/git/trees/f646192579d2d78450aacc7114a2cb97a98ad893","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/toptal/license-cop/contents/fixtures/cassettes?ref=master","git":"https://api.github.com/repos/toptal/license-cop/git/trees/f646192579d2d78450aacc7114a2cb97a98ad893","html":"https://github.com/toptal/license-cop/tree/master/fixtures/cassettes"}},{"name":"empty_file","path":"fixtures/empty_file","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/toptal/license-cop/contents/fixtures/empty_file?ref=master","html_url":"https://github.com/toptal/license-cop/blob/master/fixtures/empty_file","git_url":"https://api.github.com/repos/toptal/license-cop/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","download_url":"https://raw.g[...]
