interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/orgs/docker/repos
  response:
    body: {string: '[{"id":3242506,"name":"bender","full_name":"docker/bender","owner":{"login":"docker","id":5429470,"avatar_url":"https://avatars1.githubusercontent.com/u/5429470?v=4","gravatar_id":"","url":"https://api.github.com/users/docker","html_url":"https://github.com/docker","followers_url":"https://api.github.com/users/docker/followers","following_url":"https://api.github.com/users/docker/following{/other_user}","gists_url":"https://api.github.com/users/docker/gists{/gist_id}","starred_url":"https://api.github.com/users/docker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/docker/subscriptions","organizations_url":"https://api.github.com/users/docker/orgs","repos_url":"https://api.github.com/users/docker/repos","events_url":"https://api.github.com/users/docker/events{/privacy}","received_events_url":"https://api.github.com/users/docker/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/docker/bender","description":"IRC
        bot to manage scrum-like standup meetings","fork":false,"url":"https://api.github.com/repos/docker/bender","forks_url":"https://api.github.com/repos/docker/bender/forks","keys_url":"https://api.github.com/repos/docker/bender/keys{/key_id}","collaborators_url":"https://api.github.com/repos/docker/bender/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/docker/bender/teams","hooks_url":"https://api.github.com/repos/docker/bender/hooks","issue_events_url":"https://api.github.com/repos/docker/bender/issues/events{/number}","events_url":"https://api.github.com/repos/docker/bender/events","assignees_url":"https://api.github.com/repos/docker/bender/assignees{/user}","branches_url":"https://api.github.com/repos/docker/bender/branches{/branch}","tags_url":"https://api.github.com/repos/docker/bender/tags","blobs_url":"https://api.github.com/repos/docker/bender/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/docker/bender/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/docker/bender/git/refs{/sha}","trees_url":"https://api.github.com/repos/docker/bender/git/trees{/sha}","statuses_url":"https://api.github.com/repos/docker/bender/statuses/{sha}","languages_url":"https://api.github.com/repos/docker/bender/languages","stargazers_url":"https://api.github.com/repos/docker/bender/stargazers","contributors_url":"https://api.github.com/repos/docker/bender/contributors","subscribers_url":"https://api.github.com/repos/docker/bender/subscribers","subscription_url":"https://api.github.com/repos/docker/bender/subscription","commits_url":"https://api.github.com/repos/docker/bender/commits{/sha}","git_commits_url":"https://api.github.com/repos/docker/bender/git/commits{/sha}","comments_url":"https://api.github.com/repos/docker/bender/comments{/number}","issue_comment_url":"https://api.github.com/repos/docker/bender/issues/comments{/number}","contents_url":"https://api.github.com/repos/docker/bender/contents/{+path}","compare_url":"https://api.github.com/repos/docker/bender/compare/{base}...{head}","merges_url":"https://api.github.com/repos/docker/bender/merges","archive_url":"https://api.github.com/repos/docker/bender/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/docker/bender/downloads","issues_url":"https://api.github.com/repos/docker/bender/issues{/number}","pulls_url":"https://api.github.com/repos/docker/bender/pulls{/number}","milestones_url":"https://api.github.com/repos/docker/bender/milestones{/number}","notifications_url":"https://api.github.com/repos/docker/bender/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/docker/bender/labels{/name}","releases_url":"https://api.github.com/repos/docker/bender/releases{/id}","deployments_url":"https://api.github.com/repos/docker/bender/deployments","created_at":"2012-01-22T22:19:49Z","updated_at":"2017-03-07T19:33:10Z","pushed_at":"2016-03-19T15:15:04Z","git_url":"git://github.com/docker/bender.git","ssh_url":"git@github.com:docker/bender.git","clone_url":"https://github.com/docker/bender.git","svn_url":"https://github.com/docker/bender","homepage":"","size":56,"stargazers_count":40,"watchers_count":40,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":9,"mirror_url":null,"open_issues_count":1,"forks":9,"open_issues":1,"watchers":40,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":9461481,"name":"docker-registry","full_name":"docker/docker-registry","owner":{"login":"docker","id":5429470,"avatar_url":"https://avatars1.githubusercontent.com/u/5429470?v=4","gravatar_id":"","url":"https://api.github.com/users/docker","html_url":"https://github.com/docker","followers_url":"https://api.github.com/users/docker/followers","following_url":"https://api.github.com/users/docker/following{/other_user}","gists_url":"https://api.github.com/users/docker/gists{/gist_id}","st[...]
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/organizations/5429470/repos?page=2
  response:
    body: {string: '[{"id":35394510,"name":"docker-bench-security","full_name":"docker/docker-bench-security","owner":{"login":"docker","id":5429470,"avatar_url":"https://avatars1.githubusercontent.com/u/5429470?v=4","gravatar_id":"","url":"https://api.github.com/users/docker","html_url":"https://github.com/docker","followers_ur[...]
[...]
