interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/toptal/license-cop/contents/fixtures/empty_file
  response:
    body: {string: '{"name":"empty_file","path":"fixtures/empty_file","sha":"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","size":0,"url":"https://api.github.com/repos/toptal/license-cop/contents/fixtures/empty_file?ref=master","html_url":"https://github.com/toptal/license-cop/blob/master/fixtures/empty_file","git_url":"https://api.github.com/repos/toptal/license-cop/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","download_url":"https://raw.githubusercontent.com/toptal/license-cop/master/fixtures/empty_file?token=ADMStEpaihrrxAd_vIr-_ptTcN6K0EXbks5ZwkD4wA%3D%3D","type":"file","content":"","encoding":"base64","_links":{"self":"https://api.github.com/repos/toptal/license-cop/contents/fixtures/empty_file?ref=master","git":"https://api.github.com/repos/toptal/license-cop/git/blobs/e69de29bb2d1d6434b8b29ae775ad8c2e48c5391","html":"https://github.com/toptal/license-cop/blob/master/fixtures/empty_file"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"02e35e6f0ab2bfec4804d8676da176ef"']
      Last-Modified: ['Wed, 20 Sep 2017 10:04:32 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['1359']
      X-RateLimit-Reset: ['1505903651']
    status: {code: 200, message: OK}
version: 1
