interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/toptal/license-cop-test-fixture
  response:
    body: {string: '{"id":104391335,"name":"license-cop-test-fixture","full_name":"toptal/license-cop-test-fixture","owner":{"login":"toptal","id":4004158,"avatar_url":"https://avatars1.githubusercontent.com/u/4004158?v=4","gravatar_id":"","url":"https://api.github.com/users/toptal","html_url":"https://github.com/toptal","followers_url":"https://api.github.com/users/toptal/followers","following_url":"https://api.github.com/users/toptal/following{/other_user}","gists_url":"https://api.github.com/users/toptal/gists{/gist_id}","starred_url":"https://api.github.com/users/toptal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/toptal/subscriptions","organizations_url":"https://api.github.com/users/toptal/orgs","repos_url":"https://api.github.com/users/toptal/repos","events_url":"https://api.github.com/users/toptal/events{/privacy}","received_events_url":"https://api.github.com/users/toptal/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/toptal/license-cop-test-fixture","description":"This
        is just a integration test fixture for the license-cop tool","fork":false,"url":"https://api.github.com/repos/toptal/license-cop-test-fixture","forks_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/forks","keys_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/keys{/key_id}","collaborators_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/teams","hooks_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/hooks","issue_events_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/issues/events{/number}","events_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/events","assignees_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/assignees{/user}","branches_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/branches{/branch}","tags_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/tags","blobs_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/git/refs{/sha}","trees_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/git/trees{/sha}","statuses_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/statuses/{sha}","languages_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/languages","stargazers_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/stargazers","contributors_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/contributors","subscribers_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/subscribers","subscription_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/subscription","commits_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/commits{/sha}","git_commits_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/git/commits{/sha}","comments_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/comments{/number}","issue_comment_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/issues/comments{/number}","contents_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/contents/{+path}","compare_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/compare/{base}...{head}","merges_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/merges","archive_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/downloads","issues_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/issues{/number}","pulls_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/pulls{/number}","milestones_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/milestones{/number}","notifications_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/labels{/name}","releases_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/releases{/id}","deployments_url":"https://api.github.com/repos/toptal/license-cop-test-fixture/deployments","created_at":"2017-09-21T19:42:53Z","updated_at":"2017-09-21T19:42:53Z","pushed_at":"2017-09-21T19:44:50Z","git_url":"git://github.com/toptal/license-cop-test-fixture.git","ssh_url":"git@github.com:toptal/license-cop-test-fixture.git","clone_url":"https://github.com/toptal/license-cop-test-fixture.git","svn_url":"https://github.com/toptal/license-cop-test-fixture","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"license":null,"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"organization":{"login":"toptal","id":4004158,"avatar_url":"https://avatars1.githubusercontent.com/u/4004158?v=4","gravatar_id":"","url":"https://api.github.com/users/toptal","html_url":"https://github.com/toptal","followers_url":"https://api.github.com/users/toptal/followers","following_url":"https://api.github.com/users/toptal/following{/other_user}","gists_url":"https://api.github.com/users/toptal/gists{/gist_id}","starred_url":"https://api.github.com/users/toptal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/toptal/subscriptions","organizations_url":"https://api.github.com/users/toptal/orgs","repos_url":"https://api.github.com/users/toptal/repos","events_url":"https://api.github.com/users/toptal/events{/privacy}","received_events_url":"https://api.github.com/users/toptal/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":6}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"ece4588c5a3a3efbaa3a6e6f7cf0aa67"']
      Last-Modified: ['Thu, 21 Sep 2017 19:42:53 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: [repo]
      X-GitHub-Media-Type: [github.drax-preview; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4477']
      X-RateLimit-Reset: ['1506301141']
    status: {code: 200, message: OK}
version: 1
