interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/flavorjones/hoe-gemspec
  response:
    body: {string: '{"id":886002,"name":"hoe-gemspec","full_name":"flavorjones/hoe-gemspec","owner":{"login":"flavorjones","id":8207,"avatar_url":"https://avatars1.githubusercontent.com/u/8207?v=4","gravatar_id":"","url":"https://api.github.com/users/flavorjones","html_url":"https://github.com/flavorjones","followers_url":"https://api.github.com/users/flavorjones/followers","following_url":"https://api.github.com/users/flavorjones/following{/other_user}","gists_url":"https://api.github.com/users/flavorjones/gists{/gist_id}","starred_url":"https://api.github.com/users/flavorjones/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/flavorjones/subscriptions","organizations_url":"https://api.github.com/users/flavorjones/orgs","repos_url":"https://api.github.com/users/flavorjones/repos","events_url":"https://api.github.com/users/flavorjones/events{/privacy}","received_events_url":"https://api.github.com/users/flavorjones/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/flavorjones/hoe-gemspec","description":"Generate
        a prerelease gemspec for your Hoe-based project","fork":false,"url":"https://api.github.com/repos/flavorjones/hoe-gemspec","forks_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/forks","keys_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/keys{/key_id}","collaborators_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/teams","hooks_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/hooks","issue_events_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/issues/events{/number}","events_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/events","assignees_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/assignees{/user}","branches_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/branches{/branch}","tags_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/tags","blobs_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/git/refs{/sha}","trees_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/git/trees{/sha}","statuses_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/statuses/{sha}","languages_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/languages","stargazers_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/stargazers","contributors_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/contributors","subscribers_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/subscribers","subscription_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/subscription","commits_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/commits{/sha}","git_commits_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/git/commits{/sha}","comments_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/comments{/number}","issue_comment_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/issues/comments{/number}","contents_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/contents/{+path}","compare_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/compare/{base}...{head}","merges_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/merges","archive_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/downloads","issues_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/issues{/number}","pulls_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/pulls{/number}","milestones_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/milestones{/number}","notifications_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/labels{/name}","releases_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/releases{/id}","deployments_url":"https://api.github.com/repos/flavorjones/hoe-gemspec/deployments","created_at":"2010-09-03T15:49:29Z","updated_at":"2017-03-23T07:35:22Z","pushed_at":"2010-09-03T16:30:00Z","git_url":"git://github.com/flavorjones/hoe-gemspec.git","ssh_url":"git@github.com:flavorjones/hoe-gemspec.git","clone_url":"https://github.com/flavorjones/hoe-gemspec.git","svn_url":"https://github.com/flavorjones/hoe-gemspec","homepage":"","size":97,"stargazers_count":6,"watchers_count":6,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":6,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"license":null,"network_count":1,"subscribers_count":1}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"91df9c4c2f11ec39b2e392ed6923097c"']
      Last-Modified: ['Thu, 23 Mar 2017 07:35:22 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: [repo]
      X-GitHub-Media-Type: [github.drax-preview; format=json]
      X-OAuth-Scopes: ['read:org, read:user, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4879']
      X-RateLimit-Reset: ['1507150979']
    status: {code: 200, message: OK}
version: 1
