interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cocoapods.org/pods/GoogleMaps
  response:
    body: {string: "<!DOCTYPE html><html lang=\"en-en\"><head><title>GoogleMaps on\
        \ CocoaPods.org</title><meta charset=\"utf-8\" /><meta content=\"cocoapods\
        \ objective-c objc swift package manager libraries documentation search pods\
        \ podspec podfile cocoa apple ios library\" name=\"keywords\" /><meta content=\"\
        IE=edge\" http-equiv=\"X-UA-Compatible\" /><meta content=\"width=device-width,\
        \ initial-scale=1.0\" name=\"viewport\" /><meta content=\"Google Maps SDK\
        \ for iOS.\" name=\"description\" /><meta content=\"Google, Inc.\" name=\"\
        author\" /><meta content=\"summary_large_image\" name=\"twitter:card\" /><meta\
        \ content=\"@CocoaPods\" name=\"twitter:site\" /><meta content=\"@CocoaPods\"\
        \ name=\"twitter:creator\" /><meta content=\"GoogleMaps\" name=\"twitter:title\"\
        \ /><meta content=\"Google Maps SDK for iOS.\" name=\"twitter:description\"\
        \ /><meta content=\"https://cocoapods.org/pods/GoogleMaps\" name=\"twitter:url\"\
        \ /><meta content=\"http://cocoadocs.org/docsets/GoogleMaps/2.4.0/preview.png\"\
        \ name=\"twitter:image:src\" /><meta content=\"CocoaPods\" property=\"og:site_name\"\
        \ /><meta content=\"GoogleMaps\" property=\"og:title\" /><meta content=\"\
        https://cocoapods.org/pods/GoogleMaps\" property=\"og:url\" /><meta content=\"\
        website\" property=\"og:type\" /><meta content=\"Google Maps SDK for iOS.\"\
        \ property=\"og:description\" /><meta content=\"http://cocoadocs.org/docsets/GoogleMaps/2.4.0/preview.png\"\
        \ property=\"og:image\" /><link rel=\"shortcut icon\" href=\"https://cocoapods.org/favicons/favicon.ico\"\
        \ type=\"image/x-icon\" /><link rel=\"apple-touch-icon\" href=\"https://cocoapods.org/favicons/apple-touch-icon.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"57x57\" href=\"https://cocoapods.org/favicons/apple-touch-icon-57x57.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"60x60\" href=\"https://cocoapods.org/favicons/apple-touch-icon-60x60.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"72x72\" href=\"https://cocoapods.org/favicons/apple-touch-icon-72x72.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"https://cocoapods.org/favicons/apple-touch-icon-76x76.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"114x114\" href=\"https://cocoapods.org/favicons/apple-touch-icon-114x114.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"https://cocoapods.org/favicons/apple-touch-icon-120x120.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"144x144\" href=\"https://cocoapods.org/favicons/apple-touch-icon-144x144.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"https://cocoapods.org/favicons/apple-touch-icon-152x152.png\"\
        \ /><script src=\"/javascripts/application-15598b1d95c0f883ea517c760352f0fe.js\"\
        ></script><link href=\"/stylesheets/app-15598b1d95c0f883ea517c760352f0fe.css\"\
        \ media=\"screen\" rel=\"stylesheet\" type=\"text/css\" /><link href=\"https://cocoapods.org/opensearch.xml\"\
        \ rel=\"search\" title=\"CocoaPods\" type=\"application/opensearchdescription+xml\"\
        \ /></head><body><nav class=\"navbar navbar-static-top\" role=\"navigation\"\
        ><section class=\"container\"><div class=\"navbar-header\"><button class=\"\
        navbar-toggle\" data-target=\".navbar-header-collapse\" data-toggle=\"collapse\"\
        \ type=\"button\"><span class=\"sr-only\">Toggle navigation</span><span class=\"\
        glyphicon glyphicon-plus\"></span></button><a class=\"navbar-brand\" href=\"\
        https://cocoapods.org\"></a></div><div class=\"collapse navbar-collapse navbar-header-collapse\"\
        ><ul class=\"nav navbar-nav navbar-right\"><li><a href=\"https://cocoapods.org/app\"\
        >App</a></li><li><a href=\"https://cocoapods.org/about\">About</a></li><li><a\
        \ href=\"https://guides.cocoapods.org\">Guides</a></li><li><a href=\"https://blog.cocoapods.org\"\
        >Blog</a></li></ul></div></section></nav><section class=\"container\"><article\
        \ class=\"row\" id=\"headline\"><div class=\"col-lg-12 col-sm-12 col-xs-12\"\
        ><h1>GoogleMaps <span>2.4.0</span></h1></div></article></section><div id=\"\
        content-wrapper\"><section class=\"container\" id=\"pod-page\"><article class=\"\
        row\"><div class=\"pod_result\"><div class=\"pod-metadata clearfix\"></div><div\
        \ class=\"sideline col-sm-3 col-xs-12 col-sm-push-9\"><h1 class=\"visible-xs\
        \ inline-headline\"><a href='/pods/GoogleMaps'>GoogleMaps</a> <span>2.4.0</span></h1><div\
        \ class=\"close-expanded\"><a href=\"#\">&times;</a></div><h3></h3><table\
        \ class='header'><tbody><tr><td>License</td><td> <a href='https://developers.google.com/maps/documentation/ios/'>Custom</a>\n\
        </td></tr><tr><td> <span class='hidden-lg-span'>Released</span><span class='visible-lg-span'>Last\
        \ Release</span>\n</td><td>Aug 2017</td></tr></tbody></table><p>Maintained\
        \ by <a href='/owners/6563'>Google</a>.</p><hr /><h3>Downloads</h3><table\
        \ class='inset'><tbody><tr><td>Total</td><td>7,789,080</td></tr><tr><td>Week</td><td>143,994</td></tr><tr><td>Month</td><td>654,509</td></tr></tbody></table><h3>Installs</h3><table\
        \ class='inset'><tbody><tr><td>Apps</td><td>127,470</td></tr><tr><td> <span\
        \ class='hidden-lg-span'>Apps Week</span><span class='visible-lg-span'>Apps\
        \ This Week</span>\n</td><td>10,462</td></tr><tr><td>Pod Tries</td><td>11,255</td></tr><tr><td>\
        \ <span class='hidden-lg-span'>Pod Tries Week</span><span class='visible-lg-span'>Pod\
        \ Tries This Week</span>\n</td><td>128</td></tr><tr><td>Test Targets</td><td>8,218</td></tr><tr><td>\
        \ <span class='hidden-lg-span'>Test Week</span><span class='visible-lg-span'>Tests\
        \ This week</span>\n</td><td>786</td></tr><tr><td>Watch Apps</td><td>38</td></tr><tr><td>\
        \ <span class='hidden-lg-span'>Watch Apps Week</span><span class='visible-lg-span'>Watch\
        \ Apps This week</span>\n</td><td>1</td></tr></tbody></table><sub>powered\
        \ by <a href=\"https://segment.com\">Segment</a></sub><hr /><button class=\"\
        btn\" data-target=\"#installation_guide\" data-toggle=\"modal\" type=\"button\"\
        >Installation Guide</button><div aria-hidden=\"true\" aria-labelledby=\"installation_label\"\
        \ class=\"modal fade\" id=\"installation_guide\" role=\"dialog\" tabindex=\"\
        -1\"><div class=\"modal-dialog\"><div class=\"modal-content\"><div class=\"\
        modal-header\"><button aria-label=\"Close\" class=\"close\" data-dismiss=\"\
        modal\" type=\"button\"><span aria-hidden=\"true\">&times</span></button><h4\
        \ class=\"modal-title\" id=\"installation_label\">Installation Guide for GoogleMaps</h4></div><div\
        \ class=\"modal-body\"><p>You want to add <code>pod 'GoogleMaps', '~> 2.4'</code>\
        \ similar to the following to your Podfile:</p><pre><code>target 'MyApp' do\n\
        \  pod 'GoogleMaps', '~> 2.4'\nend</code></pre><p>Then run a <code>pod install</code>\
        \ inside your terminal, or from CocoaPods.app.</p><hr /><p>Alternatively to\
        \ give it a test run, run the command:</p><p><code>pod try GoogleMaps</code></p></div></div></div></div><hr\
        \ /><div class=\"space_for_appsight GoogleMaps\"></div><div aria-hidden=\"\
        true\" aria-labelledby=\"appsight_label\" class=\"modal fade\" id=\"app_sight_info\"\
        \ role=\"dialog\" tabindex=\"-2\"><div class=\"modal-dialog\"><div class=\"\
        modal-content\"><div class=\"modal-header\"><button aria-label=\"Close\" class=\"\
        close\" data-dismiss=\"modal\" type=\"button\"><span aria-hidden=\"true\"\
        >&times</span></button><h4 class=\"modal-title\" id=\"appsight_label\">AppSight.io\
        \ Integration</h4></div><div class=\"modal-body\"><p>The CocoaPods Website\
        \ has an optional integration with <a href='http://appsight.io'>AppSight.io</a>\
        \ that checks every pod you look at for apps which consume it.</p><p><a href='http://appsight.io'>AppSight.io</a>\
        \ is a third-party service which tracks SDKs usage in the top iOS + Android\
        \ apps.</p><p></p><hr /><p>You can turn it off by clic[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/CocoaPods/Specs/master/Specs/a/d/d/GoogleMaps/2.4.0/GoogleMaps.podspec.json
  response:
    body: {string: "{\n  \"authors\": \"Google, Inc.\",\n  \"default_subspecs\": [\n\
        \    \"Maps\"\n  ],\n  \"description\": \"Use the Google Maps SDK for iOS\
        \ to enrich your app with interactive maps, immersive Street View panoramas,\
        \ and detailed information from Google's Places database.\",\n  \"homepage\"\
        : \"https://developers.google.com/maps/documentation/ios/\",\n  \"license\"\
        : {\n    \"text\": \"Copyright 2017 Google\",\n    \"type\": \"Copyright\"\
        \n  },\n  \"name\": \"GoogleMaps\",\n  \"platforms\": {\n    \"ios\": \"8.0\"\
        \n  },\n  \"preserve_paths\": [\n    \"Example/GoogleMapsDemos.xcodeproj/project.pbxproj\"\
        ,\n    \"Example/GoogleMapsDemos/DemoAppDelegate.h\",\n    \"Example/GoogleMapsDemos/DemoAppDelegate.m\"\
        ,\n    \"Example/GoogleMapsDemos/Info.plist\",\n    \"Example/GoogleMapsDemos/MapsDemoAssets.xcassets/AppIcon.appiconset/Contents.json\"\
        ,\n    \"Example/GoogleMapsDemos/MapsDemoAssets.xcassets/AppIcon.appiconset/Maps-SDK-Demo-App_120.png\"\
        ,\n    \"Example/GoogleMapsDemos/MapsDemoAssets.xcassets[...]
