interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cocoapods.org/pods/AWSFacebookSignIn
  response:
    body: {string: "<!DOCTYPE html><html lang=\"en-en\"><head><title>AWSFacebookSignIn\
        \ on CocoaPods.org</title><meta charset=\"utf-8\" /><meta content=\"cocoapods\
        \ objective-c objc swift package manager libraries documentation search pods\
        \ podspec podfile cocoa apple ios library\" name=\"keywords\" /><meta content=\"\
        IE=edge\" http-equiv=\"X-UA-Compatible\" /><meta content=\"width=device-width,\
        \ initial-scale=1.0\" name=\"viewport\" /><meta content=\"Amazon Web Services\
        \ SDK for iOS.\" name=\"description\" /><meta content=\"Amazon Web Services\"\
        \ name=\"author\" /><meta content=\"summary_large_image\" name=\"twitter:card\"\
        \ /><meta content=\"@CocoaPods\" name=\"twitter:site\" /><meta content=\"\
        @CocoaPods\" name=\"twitter:creator\" /><meta content=\"AWSFacebookSignIn\"\
        \ name=\"twitter:title\" /><meta content=\"Amazon Web Services SDK for iOS.\"\
        \ name=\"twitter:description\" /><meta content=\"https://cocoapods.org/pods/AWSFacebookSignIn\"\
        \ name=\"twitter:url\" /><meta content=\"http://cocoadocs.org/docsets/AWSFacebookSignIn/2.6.2/preview.png\"\
        \ name=\"twitter:image:src\" /><meta content=\"CocoaPods\" property=\"og:site_name\"\
        \ /><meta content=\"AWSFacebookSignIn\" property=\"og:title\" /><meta content=\"\
        https://cocoapods.org/pods/AWSFacebookSignIn\" property=\"og:url\" /><meta\
        \ content=\"website\" property=\"og:type\" /><meta content=\"Amazon Web Services\
        \ SDK for iOS.\" property=\"og:description\" /><meta content=\"http://cocoadocs.org/docsets/AWSFacebookSignIn/2.6.2/preview.png\"\
        \ property=\"og:image\" /><link rel=\"shortcut icon\" href=\"https://cocoapods.org/favicons/favicon.ico\"\
        \ type=\"image/x-icon\" /><link rel=\"apple-touch-icon\" href=\"https://cocoapods.org/favicons/apple-touch-icon.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"57x57\" href=\"https://cocoapods.org/favicons/apple-touch-icon-57x57.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"60x60\" href=\"https://cocoapods.org/favicons/apple-touch-icon-60x60.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"72x72\" href=\"https://cocoapods.org/favicons/apple-touch-icon-72x72.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"https://cocoapods.org/favicons/apple-touch-icon-76x76.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"114x114\" href=\"https://cocoapods.org/favicons/apple-touch-icon-114x114.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"https://cocoapods.org/favicons/apple-touch-icon-120x120.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"144x144\" href=\"https://cocoapods.org/favicons/apple-touch-icon-144x144.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"https://cocoapods.org/favicons/apple-touch-icon-152x152.png\"\
        \ /><script src=\"/javascripts/application-15598b1d95c0f883ea517c760352f0fe.js\"\
        ></script><link href=\"/stylesheets/app-15598b1d95c0f883ea517c760352f0fe.css\"\
        \ media=\"screen\" rel=\"stylesheet\" type=\"text/css\" /><link href=\"https://cocoapods.org/opensearch.xml\"\
        \ rel=\"search\" title=\"CocoaPods\" type=\"application/opensearchdescription+xml\"\
        \ /></head><body><nav class=\"navbar navbar-static-top\" role=\"navigation\"\
        ><section class=\"container\"><div class=\"navbar-header\"><button class=\"\
        navbar-toggle\" data-target=\".navbar-header-collapse\" data-toggle=\"collapse\"\
        \ type=\"button\"><span class=\"sr-only\">Toggle navigation</span><span class=\"\
        glyphicon glyphicon-plus\"></span></button><a class=\"navbar-brand\" href=\"\
        https://cocoapods.org\"></a></div><div class=\"collapse navbar-collapse navbar-header-collapse\"\
        ><ul class=\"nav navbar-nav navbar-right\"><li><a href=\"https://cocoapods.org/app\"\
        >App</a></li><li><a href=\"https://cocoapods.org/about\">About</a></li><li><a\
        \ href=\"https://guides.cocoapods.org\">Guides</a></li><li><a href=\"https://blog.cocoapods.org\"\
        >Blog</a></li></ul></div></section></nav><section class=\"container\"><article\
        \ class=\"row\" id=\"headline\"><div class=\"col-lg-12 col-sm-12 col-xs-12\"\
        ><h1>AWSFacebookSignIn <span>2.6.2</span></h1></div></article></section><div\
        \ id=\"content-wrapper\"><section class=\"container\" id=\"pod-page\"><article\
        \ class=\"row\"><div class=\"pod_result\"><div class=\"pod-metadata clearfix\"\
        ></div><div class=\"sideline col-sm-3 col-xs-12 col-sm-push-9\"><h1 class=\"\
        visible-xs inline-headline\"><a href='/pods/AWSFacebookSignIn'>AWSFacebookSignIn</a>\
        \ <span>2.6.2</span></h1><div class=\"close-expanded\"><a href=\"#\">&times;</a></div><h3></h3><table\
        \ class='header'><tbody><tr><td> <span class='hidden-lg-span'>Tests</span><span\
        \ class='visible-lg-span'>Tested</span>\n</td><td>\u2713</td></tr><tr><td>\
        \ <span class='hidden-lg-span'>Lang</span><span class='visible-lg-span'>Language</span>\n\
        </td><td> <span class='hidden-lg-span'>Obj-C</span><span class='visible-lg-span'>Objective\
        \ C</span>\n</td></tr><tr><td>License</td><td> <a href='https://www.apache.org/licenses/LICENSE-2.0.html'>Apache\
        \ 2</a>\n</td></tr><tr><td> <span class='hidden-lg-span'>Released</span><span\
        \ class='visible-lg-span'>Last Release</span>\n</td><td>Sep 2017</td></tr></tbody></table><p>Maintained\
        \ by <a href='/owners/23418'>Karthikeyan</a>.</p><hr /><h3>Downloads</h3><table\
        \ class='inset'><tbody><tr><td>Total</td><td>895</td></tr><tr><td>Week</td><td>168</td></tr><tr><td>Month</td><td>873</td></tr></tbody></table><h3>Installs</h3><table\
        \ class='inset'><tbody><tr><td>Apps</td><td>72</td></tr><tr><td> <span class='hidden-lg-span'>Apps\
        \ Week</span><span class='visible-lg-span'>Apps This Week</span>\n</td><td>29</td></tr><tr><td>Test\
        \ Targets</td><td>1</td></tr><tr><td> <span class='hidden-lg-span'>Test Week</span><span\
        \ class='visible-lg-span'>Tests This week</span>\n</td><td>1</td></tr></tbody></table><sub>powered\
        \ by <a href=\"https://segment.com\">Segment</a></sub><hr /><h3>GitHub</h3><table\
        \ class='inset'><tbody><tr><td>Stars</td><td>891</td></tr><tr><td>Watchers</td><td>113</td></tr><tr><td>Forks</td><td>439</td></tr><tr><td>Issues</td><td>85</td></tr><tr><td>Contributors</td><td>35</td></tr><tr><td>Pull\
        \ Requests</td><td>12</td></tr></tbody></table><hr /><h3>Code</h3><table class='inset'><tbody><tr><td>Files</td><td>5</td></tr><tr><td>\
        \ <span class='hidden-lg-span'>LOC</span><span class='visible-lg-span'>Lines\
        \ of Code</span>\n</td><td>340</td></tr></tbody></table><hr /><button class=\"\
        btn\" data-target=\"#installation_guide\" data-toggle=\"modal\" type=\"button\"\
        >Installation Guide</button><div aria-hidden=\"true\" aria-labelledby=\"installation_label\"\
        \ class=\"modal fade\" id=\"installation_guide\" role=\"dialog\" tabindex=\"\
        -1\"><div class=\"modal-dialog\"><div class=\"modal-content\"><div class=\"\
        modal-header\"><button aria-label=\"Close\" class=\"close\" data-dismiss=\"\
        modal\" type=\"button\"><span aria-hidden=\"true\">&times</span></button><h4\
        \ class=\"modal-title\" id=\"installation_label\">Installation Guide for AWSFacebookSignIn</h4></div><div\
        \ class=\"modal-body\"><p>You want to add <code>pod 'AWSFacebookSignIn', '~>\
        \ 2.6'</code> similar to the following to your Podfile:</p><pre><code>target\
        \ 'MyApp' do\n  pod 'AWSFacebookSignIn', '~> 2.6'\nend</code></pre><p>Then\
        \ run a <code>pod install</code> inside your terminal, or from CocoaPods.app.</p><hr\
        \ /><p>Alternatively to give it a test run, run the command:</p><p><code>pod\
        \ try AWSFacebookSignIn</code></p></div></div></div></div><hr /><div class=\"\
        space_for_appsight AWSFacebookSignIn\"></div><div aria-hidden=\"true\" aria-labelledby=\"\
        appsight_label\" class=\"mod[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/CocoaPods/Specs/master/Specs/9/e/c/AWSFacebookSignIn/2.6.2/AWSFacebookSignIn.podspec.json
  response:
    body: {string: "{\n  \"name\": \"AWSFacebookSignIn\",\n  \"version\": \"2.6.2\"\
        ,\n  \"summary\": \"Amazon Web Services SDK for iOS.\",\n  \"description\"\
        : \"The AWS SDK for iOS provides a library, code samples, and documentation\
        \ for developers to build connected mobile applications using AWS.\",\n  \"\
        homepage\": \"http://aws.amazon.com/mobile/sdk\",\n  \"license\": \"Apache\
        \ License, Version 2.0\",\n  \"authors\": {\n    \"Amazon Web Services\":\
        \ \"amazonwebservices\"\n  },\n  \"platforms\": {\n    \"ios\": \"9.0\"\n\
        \  },\n  \"source\": {\n    \"git\": \"https://github.com/aws/aws-sdk-ios.git\"\
        ,\n    \"tag\": \"2.6.2\"\n  },\n  \"requires_arc\": true,\n  \"dependencies\"\
        : {\n    \"AWSAuthCore\": [\n      \"2.6.2\"\n    ],\n    \"FBSDKLoginKit\"\
        : [\n      \"~> 4.0\"\n    ],\n    \"FBSDKCoreKit\": [\n      \"~> 4.0\"\n\
        \    ]\n  },\n  \"source_files\": \"AWSAuthSDK/Sources/AWSFacebookSignIn/*.{h,m}\"\
        ,\n  \"public_header_files\": \"AWSAuthSDK/Sources/AWSFacebookSignIn/*.h\"\
        ,\n  \"resource_bundles\": {\n    \"AWSFacebookSignIn\": \"AWSAuthSDK/Sources/AWSFacebookSignIn/Images.xcassets\"\
        \n  }\n}\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"57c77b28e5dc04f9acfaf9667e24e97e0987f668"']
      Source-Age: ['0']
      X-Fastly-Request-ID: [502fb01395fa1e1e60798adbba0050d4dcdd9f6d]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
version: 1
