interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cocoapods.org/pods/WebLinking
  response:
    body: {string: "<!DOCTYPE html><html lang=\"en-en\"><head><title>WebLinking on\
        \ CocoaPods.org</title><meta charset=\"utf-8\" /><meta content=\"cocoapods\
        \ objective-c objc swift package manager libraries documentation search pods\
        \ podspec podfile cocoa apple ios library\" name=\"keywords\" /><meta content=\"\
        IE=edge\" http-equiv=\"X-UA-Compatible\" /><meta content=\"width=device-width,\
        \ initial-scale=1.0\" name=\"viewport\" /><meta content=\"Swift implementation\
        \ of Web Linking and Link headers (RFC5988)\" name=\"description\" /><meta\
        \ content=\"Kyle Fuller\" name=\"author\" /><meta content=\"summary_large_image\"\
        \ name=\"twitter:card\" /><meta content=\"@CocoaPods\" name=\"twitter:site\"\
        \ /><meta content=\"@kylefuller\" name=\"twitter:creator\" /><meta content=\"\
        WebLinking\" name=\"twitter:title\" /><meta content=\"Swift implementation\
        \ of Web Linking and Link headers (RFC5988)\" name=\"twitter:description\"\
        \ /><meta content=\"https://cocoapods.org/pods/WebLinking\" name=\"twitter:url\"\
        \ /><meta content=\"http://cocoadocs.org/docsets/WebLinking/2.0.0/preview.png\"\
        \ name=\"twitter:image:src\" /><meta content=\"CocoaPods\" property=\"og:site_name\"\
        \ /><meta content=\"WebLinking\" property=\"og:title\" /><meta content=\"\
        https://cocoapods.org/pods/WebLinking\" property=\"og:url\" /><meta content=\"\
        website\" property=\"og:type\" /><meta content=\"Swift implementation of Web\
        \ Linking and Link headers (RFC5988)\" property=\"og:description\" /><meta\
        \ content=\"http://cocoadocs.org/docsets/WebLinking/2.0.0/preview.png\" property=\"\
        og:image\" /><link rel=\"shortcut icon\" href=\"https://cocoapods.org/favicons/favicon.ico\"\
        \ type=\"image/x-icon\" /><link rel=\"apple-touch-icon\" href=\"https://cocoapods.org/favicons/apple-touch-icon.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"57x57\" href=\"https://cocoapods.org/favicons/apple-touch-icon-57x57.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"60x60\" href=\"https://cocoapods.org/favicons/apple-touch-icon-60x60.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"72x72\" href=\"https://cocoapods.org/favicons/apple-touch-icon-72x72.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"https://cocoapods.org/favicons/apple-touch-icon-76x76.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"114x114\" href=\"https://cocoapods.org/favicons/apple-touch-icon-114x114.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"https://cocoapods.org/favicons/apple-touch-icon-120x120.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"144x144\" href=\"https://cocoapods.org/favicons/apple-touch-icon-144x144.png\"\
        \ /><link rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"https://cocoapods.org/favicons/apple-touch-icon-152x152.png\"\
        \ /><script src=\"/javascripts/application-15598b1d95c0f883ea517c760352f0fe.js\"\
        ></script><link href=\"/stylesheets/app-15598b1d95c0f883ea517c760352f0fe.css\"\
        \ media=\"screen\" rel=\"stylesheet\" type=\"text/css\" /><link href=\"https://cocoapods.org/opensearch.xml\"\
        \ rel=\"search\" title=\"CocoaPods\" type=\"application/opensearchdescription+xml\"\
        \ /></head><body><nav class=\"navbar navbar-static-top\" role=\"navigation\"\
        ><section class=\"container\"><div class=\"navbar-header\"><button class=\"\
        navbar-toggle\" data-target=\".navbar-header-collapse\" data-toggle=\"collapse\"\
        \ type=\"button\"><span class=\"sr-only\">Toggle navigation</span><span class=\"\
        glyphicon glyphicon-plus\"></span></button><a class=\"navbar-brand\" href=\"\
        https://cocoapods.org\"></a></div><div class=\"collapse navbar-collapse navbar-header-collapse\"\
        ><ul class=\"nav navbar-nav navbar-right\"><li><a href=\"https://cocoapods.org/app\"\
        >App</a></li><li><a href=\"https://cocoapods.org/about\">About</a></li><li><a\
        \ href=\"https://guides.cocoapods.org\">Guides</a></li><li><a href=\"https://blog.cocoapods.org\"\
        >Blog</a></li></ul></div></section></nav><section class=\"container\"><article\
        \ class=\"row\" id=\"headline\"><div class=\"col-lg-12 col-sm-12 col-xs-12\"\
        ><h1>WebLinking <span>2.0.0</span></h1></div></article></section><div id=\"\
        content-wrapper\"><section class=\"container\" id=\"pod-page\"><article class=\"\
        row\"><div class=\"pod_result\"><div class=\"pod-metadata clearfix\"></div><div\
        \ class=\"sideline col-sm-3 col-xs-12 col-sm-push-9\"><h1 class=\"visible-xs\
        \ inline-headline\"><a href='/pods/WebLinking'>WebLinking</a> <span>2.0.0</span></h1><div\
        \ class=\"close-expanded\"><a href=\"#\">&times;</a></div><h3></h3><table\
        \ class='header'><tbody><tr><td> <span class='hidden-lg-span'>Tests</span><span\
        \ class='visible-lg-span'>Tested</span>\n</td><td>\u2713</td></tr><tr><td>\
        \ <span class='hidden-lg-span'>Lang</span><span class='visible-lg-span'>Language</span>\n\
        </td><td> <span class='hidden-lg-span'>Swift</span><span class='visible-lg-span'>Swift</span>\n\
        </td></tr><tr><td>License</td><td> <a href='http://opensource.org/licenses/MIT'>MIT</a>\n\
        </td></tr><tr><td> <span class='hidden-lg-span'>Released</span><span class='visible-lg-span'>Last\
        \ Release</span>\n</td><td>Jun 2017</td></tr><tr><td> <span class='hidden-lg-span'>Swift</span><span\
        \ class='visible-lg-span'>Swift Version</span>\n</td><td>3.0</td></tr><tr><td>\
        \ <span class='hidden-lg-span'>SPM</span><span class='visible-lg-span'>Supports\
        \ SPM</span>\n</td><td>\u2713</td></tr></tbody></table><p>Maintained by <a\
        \ href='/owners/5'>Kyle Fuller</a>.</p><hr /><h3>Downloads</h3><table class='inset'><tbody><tr><td>Total</td><td>27,963</td></tr><tr><td>Week</td><td>415</td></tr><tr><td>Month</td><td>2,235</td></tr></tbody></table><h3>Installs</h3><table\
        \ class='inset'><tbody><tr><td>Apps</td><td>187</td></tr><tr><td> <span class='hidden-lg-span'>Apps\
        \ Week</span><span class='visible-lg-span'>Apps This Week</span>\n</td><td>19</td></tr><tr><td>Test\
        \ Targets</td><td>64</td></tr><tr><td> <span class='hidden-lg-span'>Test Week</span><span\
        \ class='visible-lg-span'>Tests This week</span>\n</td><td>6</td></tr></tbody></table><sub>powered\
        \ by <a href=\"https://segment.com\">Segment</a></sub><hr /><h3>GitHub</h3><table\
        \ class='inset'><tbody><tr><td>Stars</td><td>136</td></tr><tr><td>Watchers</td><td>3</td></tr><tr><td>Forks</td><td>13</td></tr><tr><td>Issues</td><td>0</td></tr><tr><td>Contributors</td><td>4</td></tr><tr><td>Pull\
        \ Requests</td><td>1</td></tr></tbody></table><hr /><h3>Code</h3><table class='inset'><tbody><tr><td>Files</td><td>1</td></tr><tr><td>\
        \ <span class='hidden-lg-span'>LOC</span><span class='visible-lg-span'>Lines\
        \ of Code</span>\n</td><td>130</td></tr></tbody></table><hr /><button class=\"\
        btn\" data-target=\"#installation_guide\" data-toggle=\"modal\" type=\"button\"\
        >Installation Guide</button><div aria-hidden=\"true\" aria-labelledby=\"installation_label\"\
        \ class=\"modal fade\" id=\"installation_guide\" role=\"dialog\" tabindex=\"\
        -1\"><div class=\"modal-dialog\"><div class=\"modal-content\"><div class=\"\
        modal-header\"><button aria-label=\"Close\" class=\"close\" data-dismiss=\"\
        modal\" type=\"button\"><span aria-hidden=\"true\">&times</span></button><h4\
        \ class=\"modal-title\" id=\"installation_label\">Installation Guide for WebLinking</h4></div><div\
        \ class=\"modal-body\"><p>You want to add <code>pod 'WebLinking', '~> 2.0'</code>\
        \ similar to the following to your Podfile:</p><pre><code>target 'MyApp' do\n\
        \  pod 'WebLinking', '~> 2.0'\nend</code></pre><p>Then run a <code>pod install</code>\
        \ inside your terminal, or from CocoaPods.app.</p><hr /><p>Alternatively to\
        \ give it a test run, run the command:</p><p><code>pod try WebLinking</code></p></div></div></div></div><hr\
        \ /><div class=\"space_for_appsight WebLinking\"></div><div aria-hidden=\"\
        true\" aria-labelledby=\"appsight_label\" class=\"modal fade\" id=\"app_sight_info\"\
        \ role=\"dialog\" tabindex=\"-2\"><div class=\"modal-dialog\"><div class=\"\
        modal-content\"><div class=\"modal-header\"><button aria-label=\"Close\" class=\"\
        close\" data-dismiss=\"modal\" type=\"button\"><span aria-hidden=\"true\"\
        >&times</span></button><h4 class=\"modal-title\" id=\"appsight_label\">AppSight.io\
        \ Integration</h4></div><div class=\"modal-body\"><p>The CocoaPods Website\
        \ has an optional integration with <a href='http://appsight.io'>AppSight.io</a>\
        \ that checks every pod you look at for apps which consume it.</p><p><a href='http://appsight.io'>AppSight.io</a>\
        \ is a third-party service which tracks SDKs usage in the top iOS + Android\
        \ apps.</p><p></p><hr /><p>You can turn it off by clic[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/CocoaPods/Specs/master/Specs/6/9/9/WebLinking/2.0.0/WebLinking.podspec.json
  response:
    body: {string: "{\n  \"name\": \"WebLinking\",\n  \"version\": \"2.0.0\",\n  \"\
        summary\": \"Swift implementation of Web Linking and Link headers (RFC5988)\"\
        ,\n  \"homepage\": \"https://github.com/kylef/WebLinking.swift\",\n  \"authors\"\
        : {\n    \"Kyle Fuller\": \"kyle@fuller.li\"\n  },\n  \"social_media_url\"\
        : \"http://twitter.com/kylefuller\",\n  \"source\": {\n    \"git\": \"https://github.com/kylef/WebLinking.swift.git\"\
        ,\n    \"tag\": \"2.0.0\"\n  },\n  \"source_files\": \"Sources/*.swift\",\n\
        \  \"platforms\": {\n    \"ios\": \"8.0\",\n    \"osx\": \"10.9\",\n    \"\
        watchos\": \"2.0\",\n    \"tvos\": \"9.0\"\n  },\n  \"requires_arc\": true,\n\
        \  \"pushed_with_swift_version\": \"3.0\"\n}\n"}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"1f481bef03532c668c75a9a92d2be01aa3367ec1"']
      Source-Age: ['0']
      X-Fastly-Request-ID: [24faec55ef2e96ce1264eeadfbcb941638c3aad1]
      X-Geo-Block-List: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/kylef/weblinking.swift
  response:
    body: {string: '{"id":29524772,"name":"WebLinking.swift","full_name":"kylef/WebLinking.swift","owner":{"login":"kylef","id":44164,"avatar_url":"https://avatars1.githubusercontent.com/u/44164?v=4","gravatar_id":"","url":"https://api.github.com/users/kylef","html_url":"https://github.com/kylef","followers_url":"https://api.github.com/users/kylef/followers","following_url":"https://api.github.com/users/kylef/following{/other_user}","gists_url":"https://api.github.com/users/kylef/gists{/gist_id}","starred_url":"https://api.github.com/users/kylef/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kylef/subscriptions","organizations_url":"https://api.github.com/users/kylef/orgs","repos_url":"https://api.github.com/users/kylef/repos","events_url":"https://api.github.com/users/kylef/events{/privacy}","received_events_url":"https://api.github.com/users/kylef/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/kylef/WebLinking.swift","description":"Swift
        implementation of web linking (RFC5988)","fork":false,"url":"https://api.github.com/repos/kylef/WebLinking.swift","forks_url":"https://api.github.com/repos/kylef/WebLinking.swift/forks","keys_url":"https://api.github.com/repos/kylef/WebLinking.swift/keys{/key_id}","collaborators_url":"https://api.github.com/repos/kylef/WebLinking.swift/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/kylef/WebLinking.swift/teams","hooks_url":"https://api.github.com/repos/kylef/WebLinking.swift/hooks","issue_events_url":"https://api.github.com/repos/kylef/WebLinking.swift/issues/events{/number}","events_url":"https://api.github.com/repos/kylef/WebLinking.swift/events","assignees_url":"https://api.github.com/repos/kylef/WebLinking.swift/assignees{/user}","branches_url":"https://api.github.com/repos/kylef/WebLinking.swift/branches{/branch}","tags_url":"https://api.github.com/repos/kylef/WebLinking.swift/tags","blobs_url":"https://api.github.com/repos/kylef/WebLinking.swift/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/kylef/WebLinking.swift/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/kylef/WebLinking.swift/git/refs{/sha}","trees_url":"https://api.github.com/repos/kylef/WebLinking.swift/git/trees{/sha}","statuses_url":"https://api.github.com/repos/kylef/WebLinking.swift/statuses/{sha}","languages_url":"https://api.github.com/repos/kylef/WebLinking.swift/languages","stargazers_url":"https://api.github.com/repos/kylef/WebLinking.swift/stargazers","contributors_url":"https://api.github.com/repos/kylef/WebLinking.swift/contributors","subscribers_url":"https://api.github.com/repos/kylef/WebLinking.swift/subscribers","subscription_url":"https://api.github.com/repos/kylef/WebLinking.swift/subscription","commits_url":"https://api.github.com/repos/kylef/WebLinking.swift/commits{/sha}","git_commits_url":"https://api.github.com/repos/kylef/WebLinking.swift/git/commits{/sha}","comments_url":"https://api.github.com/repos/kylef/WebLinking.swift/comments{/number}","issue_comment_url":"https://api.github.com/repos/kylef/WebLinking.swift/issues/comments{/number}","contents_url":"https://api.github.com/repos/kylef/WebLinking.swift/contents/{+path}","compare_url":"https://api.github.com/repos/kylef/WebLinking.swift/compare/{base}...{head}","merges_url":"https://api.github.com/repos/kylef/WebLinking.swift/merges","archive_url":"https://api.github.com/repos/kylef/WebLinking.swift/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/kylef/WebLinking.swift/downloads","issues_url":"https://api.github.com/repos/kylef/WebLinking.swift/issues{/number}","pulls_url":"https://api.github.com/repos/kylef/WebLinking.swift/pulls{/number}","milestones_url":"https://api.github.com/repos/kylef/WebLinking.swift/milestones{/number}","notifications_url":"https://api.github.com/repos/kylef/WebLinking.swift/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/kylef/WebLinking.swift/labels{/name}","releases_url":"https://api.github.com/repos/kylef/WebLinking.swift/releases{/id}","deployments_url":"https://api.github.com/repos/kylef/WebLinking.swift/deployments","created_at":"2015-01-20T10:38:48Z","updated_at":"2017-09-27T21:57:58Z","pushed_at":"2017-09-28T18:31:52Z","git_url":"git://github.com/kylef/WebLinking.swift.git","ssh_url":"git@github.com:kylef/WebLinking.swift.git","clone_url":"https://github.com/kylef/WebLinking.swift.git","svn_url":"https://github.com/kylef/WebLinking.swift","homepage":"","size":38,"stargazers_count":136,"watchers_count":136,"language":"Swift","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":13,"mirror_url":null,"open_issues_count":1,"forks":13,"open_issues":1,"watchers":136,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","featured":true},"network_count":13,"subscribers_count":3}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"ec1fcd5c17cc91de392a6488030b4cb9"']
      Last-Modified: ['Wed, 27 Sep 2017 21:57:58 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: [repo]
      X-GitHub-Media-Type: [github.drax-preview; format=json]
      X-OAuth-Scopes: [repo]
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4998']
      X-RateLimit-Reset: ['1507158943']
    status: {code: 200, message: OK}
version: 1
