interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/toptal/license-cop/git/trees/master?recursive=1
  response:
    body: {string: '{"sha":"a88190f12a3666aabe95d27eb3756c0f8b6b0a1d","url":"https://api.github.com/repos/toptal/license-cop/git/trees/a88190f12a3666aabe95d27eb3756c0f8b6b0a1d","tree":[{"path":".gitignore","mode":"100644","type":"blob","sha":"a6767c7c61202ecf1211b95db17d3eb2e46d3e12","size":1164,"url":"https://api.github.com/repos/toptal/license-cop/git/blobs/a6767c7c61202ecf1211b95db17d3eb2e46d3e12"},{"path":".travis.yml","mode":"100644","type":"blob","sha":"f9f860518302d98342718407c91a58cc3e286869","size":175,"url":"https://api.github.com/repos/toptal/license-cop/git/blobs/f9f860518302d98342718407c91a58cc3e286869"},{"path":"LICENSE","mode":"100644","type":"blob","sha":"496115fe727bf039aa244c81f4e839e864abe38a","size":1063,"url":"https://api.github.com/repos/toptal/license-cop/git[...]
