interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/toptal/license-cop/git/trees/master?recursive=1
  response:
    body: {string: '{"sha":"d02e2a870d2751e360adffcbced8f25c43ad1990","url":"https://api.github.com/repos/toptal/license-cop/git/trees/d02e2a870d2751e360adffcbced8f25c43ad1990","tree":[{"path":".gitignore","mode":"100644","type":"blob","sha":"a6767c7c61202ecf1211b95db17d3eb2e46d3e12","size":1164,"url":"https://api.github.com/repos/toptal/license-cop/git/blobs/a6767c7c61202ecf1211b95db17d3eb2e46d3e12"},{"path":".travis.yml","mode":"100644","type":"blob","sha":"f9f860518302d98342718407c91a58cc3e286869","size":175,"url":"https://api.github.com/repos/toptal/license-cop/git/blobs/f9f860518302d98342718407c91a58cc3e286869"},{"path":"LICENSE","mode":"100644","type":"blob","sha":"496115fe727bf039aa244c81f4e839e864abe38a","size":1063,"url":"https://api.github.com/repos/toptal/license-cop/git[...]
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/toptal/license-cop/contents/Pipfile
  response:
    body: {string: '{"name":"Pipfile","path":"Pipfile","sha":"719d2dff24f91b09c89d326ea5db259d2d373ad0","size":211,"url":"https://api.github.com/repos/toptal/license-cop/contents/Pipfile?ref=master","html_url":"https://github.com/toptal/license-cop/blob/master/Pipfile","git_url":"https://api.github.com/repos/toptal/license-cop/git/blobs/719d2dff24f91b09c89d326ea5db259d2d373ad0","download_url":"https://raw.githubusercontent.com/toptal/license-cop/master/Pipfile?token=AfWmeIGJ-Ys-Ps0IGfqYrC0D1_xrV9tVks5Z5rMWwA%3D%3D","type":"file","content":"W1tzb3VyY2VdXQp1cmwgPSAiaHR0cHM6Ly9weXBpLnB5dGhvbi5vcmcvc2lt\ncGxlIgp2ZXJpZnlfc3NsID0gdHJ1ZQpbcGFja2FnZXNdCgpyZXF1ZXN0cyA9\nICIqIgp4bWx0b2RpY3QgPSAiKiIKcHlwYXJzaW5nID0gIioiCgoKCgoKCgoK\nCgpbZGV2LXBhY2thZ2VzXQoKcHl0ZXN0ID0gIioiCnZjcnB5ID0gIioiCiJw\neXRlc3QtbW9jayIgPSAiKiIKInBlcDgiID0gIioiCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/toptal/license-cop/contents/Pipfile?ref=master","git":"https://api.github.com/repos/toptal/license-cop/git/blobs/719d2dff24f91b09c89d326ea5db259d2d373ad0","html":"https://github.com/toptal/license-cop/blob/master/Pipfile"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"4a010800a87d869b13dfe4c61321ec06"']
      Last-Modified: ['Tue, 17 Oct 2017 00:58:36 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, read:user, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4987']
      X-RateLimit-Reset: ['1508294786']
    status: {code: 200, message: OK}
version: 1
