interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/toptal/license-cop/git/trees/master?recursive=1
  response:
    body: {string: '{"sha":"d02e2a870d2751e360adffcbced8f25c43ad1990","url":"https://api.github.com/repos/toptal/license-cop/git/trees/d02e2a870d2751e360adffcbced8f25c43ad1990","tree":[{"path":".gitignore","mode":"100644","type":"blob","sha":"a6767c7c61202ecf1211b95db17d3eb2e46d3e12","size":1164,"url":"https://api.github.com/repos/toptal/license-cop/git/blobs/a6767c7c61202ecf1211b95db17d3eb2e46d3e12"},{"path":".travis.yml","mode":"100644","type":"blob","sha":"f9f860518302d98342718407c91a58cc3e286869","size":175,"url":"https://api.github.com/repos/toptal/license-cop/git/blobs/f9f860518302d98342718407c91a58cc3e286869"},{"path":"LICENSE","mode":"100644","type":"blob","sha":"496115fe727bf039aa244c81f4e839e864abe38a","size":1063,"url":"https://api.github.com/repos/toptal/license-cop/git[...]
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/toptal/license-cop/contents/Pipfile
  response:
    body: {string: '{"name":"Pipfile","path":"Pipfile","sha":"719d2dff24f91b09c89d326ea5db259d2d373ad0","size":211,"url":"https://api.github.com/repos/toptal/license-cop/contents/Pipfile?ref=master","html_url":"https://github.com/toptal/license-cop/blob/master/Pipfile","git_url":"https://api.github.com/repos/toptal/license-cop/git/blobs/719d2dff24f91b09c89d326ea5db259d2d373ad0","download_url":"https://raw.githubusercontent.com/toptal/license-cop/master/Pipfile?token=AfWmeCBkTm8Hu635xP8iR7RqMvRH6ALxks5Z5rMYwA%3D%3D","type":"file","content":"W1tzb3VyY2VdXQp1cmwgPSAiaHR0cHM6Ly9weXBpLnB5dGhvbi5vcmcvc2lt\ncGxlIgp2ZXJpZnlfc3NsID0gdHJ1ZQpbcGFja2FnZXNdCgpyZXF1ZXN0cyA9\nICIqIgp4bWx0b2RpY3QgPSAiKiIKcHlwYXJzaW5nID0gIioiCgoKCgoKCgoK\nCgpbZGV2LXBhY2thZ2VzXQoKcHl0ZXN0ID0gIioiCnZjcnB5ID0gIioiCiJw\neXRlc3QtbW9jayIgPSAiKiIKInBlcDgiID0gIioiCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/toptal/license-cop/contents/Pipfile?ref=master","git":"https://api.github.com/repos/toptal/license-cop/git/blobs/719d2dff24f91b09c89d326ea5db259d2d373ad0","html":"https://github.com/toptal/license-cop/blob/master/Pipfile"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"314b5c2133fb0441f45445d3be291eda"']
      Last-Modified: ['Tue, 17 Oct 2017 00:58:36 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, read:user, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4985']
      X-RateLimit-Reset: ['1508294786']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://pypi.python.org/pypi/requests/json
  response:
    body: {string: "{\n    \"info\": {\n        \"maintainer\": \"\", \n        \"docs_url\":
        null, \n        \"requires_python\": \"\", \n        \"maintainer_email\":
        \"\", \n        \"cheesecake_code_kwalitee_id\": null, \n        \"keywords\":
        \"\", \n        \"package_url\": \"http://pypi.python.org/pypi/requests\",
        \n        \"author\": \"Kenneth Reitz\", \n        \"author_email\": \"me@kennethreitz.org\",
        \n        \"download_url\": \"\", \n        \"platform\": \"\", \n        \"version\":
        \"2.18.4\", \n        \"cheesecake_documentation_id\": null, \n        \"_pypi_hidden\":
        false, \n        \"description\": \"Requests: HTTP for Humans\\n=========================\\n\\n..
        image:: https://img.shields.io/pypi/v/requests.svg\\n    :target: https://pypi.python.org/pypi/requests\\n\\n..
        image:: https://img.shields.io/pypi/l/requests.svg\\n    :target: https://pypi.python.org/pypi/requests\\n\\n..
        image:: https://img.shields.io/pypi/pyversions/requests.svg\\n    :target:
        https://pypi.python.org/pypi/requests\\n\\n.. image:: https://codecov.io/github/requests/requests/coverage.svg?branch=master\\n
        \   :target: https://codecov.io/github/requests/requests\\n    :alt: codecov.io\\n\\n..
        image:: https://img.shields.io/github/contributors/requests/requests.svg\\n
        \   :target: https://github.com/requests/requests/graphs/contributors\\n\\n..
        image:: https://img.shields.io/badge/Say%20Thanks-!-1EAEDB.svg\\n    :target:
        https://saythanks.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pypi.python.org/pypi/win-inet-pton/json
  response:
    body: {string: ''}
    headers:
      Fastly-Debug-Digest: [87848c82f212b20711ddddf4fb672654e5bcf075c534f01e7a645ecabe32f014]
      Location: [/pypi/win_inet_pton/json]
      X-Clacks-Overhead: [GNU Terry Pratchett]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://pypi.python.org/pypi/win_inet_pton/json
  response:
    body: {string: "{\n    \"info\": {\n        \"maintainer\": \"\", \n        \"docs_url\":
        null, \n        \"requires_python\": null, \n        \"maintainer_email\":
        \"\", \n        \"cheesecake_code_kwalitee_id\": null, \n        \"keywords\":
        \"\", \n        \"package_url\": \"http://pypi.python.org/pypi/win_inet_pton\",
        \n        \"author\": \"Ryan Vennell\", \n        \"author_email\": \"ryan.vennell@gmail.com\",
        \n        \"download_url\": \"UNKNOWN\", \n        \"platform\": \"UNKNOWN\",
        \n        \"version\": \"1.0.1\", \n        \"cheesecake_documentation_id\":
        null, \n        \"_pypi_hidden\": false, \n        \"description\": \"win_inet_pton\\r\\n=============\\r\\n\\r\\nNative
        inet_pton and inet_ntop implementation for Python on Windows (with ctypes).\\r\\n\\r\\n\\r\\nCredit
        Where Credit Is Due\\r\\n--------------------------\\r\\n\\r\\nThis package
        is based on code that was originally written by https://github.com/nnemkin
        here: https://gist.github.com/nnemkin/4966028\\r\\n\\r\\n\\r\\nWhy?\\r\\n----\\r\\n\\r\\nI
        needed this functionality in https://github.com/SerenitySoftwareLLC/cahoots
        to get full windows support. I figured, since there were other people looking
        for a solution to this on the net, I should publish it.\\r\\n\\r\\n\\r\\nUsage\\r\\n-----\\r\\n\\r\\nJust
        import it, and it will auto-add the methods to the socket library.\", \n        \"release_url\":
        \"http://pypi.python.org/pypi/win_inet_pton/1.0.1\", \n        \"downloads\":
        {\n            \"last_month\": 0, \n            \"last_week\": 0, \n            \"last_day\":
        0\n        }, \n        \"_pypi_ordering\": 1, \n        \"classifiers\":
        [\n            \"Development Status :: 5 - Production/Stable\", \n            \"Intended
        Audience :: Developers\", \n            \"Operating System :: Microsoft ::
        Windows\", \n            \"Operating System :: OS Independent\", \n            \"Programming
        Language :: Python :: 2.7\", \n            \"Topic :: Utilities\"\n        ],
        \n        \"name\": \"win_inet_pton\", \n        \"bugtrack_url\": \"\", \n
        \       \"license\": \"This software released into the public domain. Anyone
        is free to copy,\\r\\nmodify, publish, use, compile, sell, or distribute this
        software,\\r\\neither in source code form or as a compiled binary, for any
        purpose,\\r\\ncommercial or non-commercial, and by any means.\", \n        \"summary\":
        \"Native inet_pton and inet_ntop implementation for Python on Windows (with
        ctypes).\", \n        \"home_page\": \"https://github.com/hickeroar/win_inet_pton\",
        \n        \"cheesecake_installability_id\": null\n    }, \n    \"releases\":
        {\n        \"1.0.0\": [\n            {\n                \"has_sig\": false,
        \n                \"upload_time\": \"2014-08-30T07:25:57\", \n                \"comment_text\":
        \"\", \n                \"python_version\": \"source\", \n                \"url\":
        \"https://pypi.python.org/packages/13/0d/524155177b28f9a988ae1eb954ab13c0a7d668f632f8ce7b85b04714c7a4/win_inet_pton-1.0.0.tar.gz\",
        \n                \"md5_digest\": \"c468705395ce7eddfccafa0884397d8d\", \n
        \               \"downloads\": 1558, \n                \"filename\": \"win_inet_pton-1.0.0.tar.gz\",
        \n                \"packagetype\": \"sdist\", \n                \"path\":
        \"13/0d/524155177b28f9a988ae1eb954ab13c0a7d668f632f8ce7b85b04714c7a4/win_inet_pton-1.0.0.tar.gz\",
        \n                \"size\": 1956\n            }\n        ], \n        \"1.0.1\":
        [\n            {\n                \"has_sig\": false, \n                \"upload_time\":
        \"2014-08-30T08:02:01\", \n                \"comment_text\": \"\", \n                \"python_version\":
        \"source\", \n                \"url\": \"https://pypi.python.org/packages/a3/fb/bb181176a58f3d091aae10a360aa5aa945b9c4ec960dc713a32353665d26/win_inet_pton-1.0.1.tar.gz\",
        \n                \"md5_digest\": \"3d20c5db5552c7e75dc08f140fd0e1a8\", \n
        \               \"downloads\": 3558, \n                \"filename\": \"win_inet_pton-1.0.1.tar.gz\",
        \n                \"packagetype\": \"sdist\", \n                \"path\":
        \"a3/fb/bb181176a58f3d091aae10a360aa5aa945b9c4ec960dc713a32353665d26/win_inet_pton-1.0.1.tar.gz\",
        \n                \"size\": 2012\n            }\n        ]\n    }, \n    \"urls\":
        [\n        {\n            \"has_sig\": false, \n            \"upload_time\":
        \"2014-08-30T08:02:01\", \n            \"comment_text\": \"\", \n            \"python_version\":
        \"source\", \n            \"url\": \"https://pypi.python.org/packages/a3/fb/bb181176a58f3d091aae10a360aa5aa945b9c4ec960dc713a32353665d26/win_inet_pton-1.0.1.tar.gz\",
        \n            \"md5_digest\": \"3d20c5db5552c7e75dc08f140fd0e1a8\", \n            \"downloads\":
        3558, \n            \"filename\": \"win_inet_pton-1.0.1.tar.gz\", \n            \"packagetype\":
        \"sdist\", \n            \"path\": \"a3/fb/bb181176a58f3d091aae10a360aa5aa945b9c4ec960dc713a32353665d26/win_inet_pton-1.0.1.tar.gz\",
        \n            \"size\": 2012\n        }\n    ]\n}"}
    headers:
      Content-Disposition: [inline]
      Content-Type: [application/json; charset="UTF-8"]
      Fastly-Debug-Digest: [7988ff420e04003e8021873f86ff4d1af0f981e1b28872484d8dd0eeda5a4d57]
      X-Clacks-Overhead: [GNU Terry Pratchett]
      X-PYPI-LAST-SERIAL: ['3255661']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://pypi.python.org/pypi/PySocks/json
  response:
    body: {string: "{\n    \"info\": {\n        \"maintainer\": null, \n        \"docs_url\":
        null, \n        \"requires_python\": null, \n        \"maintainer_email\":
        null, \n        \"cheesecake_code_kwalitee_id\": null, \n        \"keywords\":
        \"socks,proxy\", \n        \"package_url\": \"http://pypi.python.org/pypi/PySocks\",
        \n        \"autho[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pypi.python.org/pypi/pyOpenSSL/json
  response:
    body: {string: "{\n    \"info\": {\n        \"maintainer\": \"\", \n        \"docs_url\":
        \"http://pythonhosted.org/pyOpenSSL/\", \n        \"requires_python\": \"\",
        \n        \"maintainer_email\": \"\", \n        \"cheesecake_code_kwalitee_id\":
        null, \n        \"keywords\": \"\", \n        \"package_url\": \"http://pypi.python.org/pypi/pyOpenSSL\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pypi.python.org/pypi/idna/json
  response:
    body: {string: "{\n    \"info\": {\n        \"maintainer\": \"\", \n        \"docs_url\":
        null, \n        \"requires_python\": \"\", \n        \"maintainer_email\":
        \"\", \n        \"cheesecake_code_kwalitee_id\": null, \n        \"keywords\":
        \"\", \n        \"package_url\": \"http://pypi.python.org/pypi/idna\", \n
        \       \"author\": \"Kim Davie[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pypi.python.org/pypi/cryptography/json
  response:
    body: {string: "{\n    \"info\": {\n        \"maintainer\": \"\", \n        \"docs_url\":
        null, \n        \"requires_python\": \"\", \n        \"maintainer_email\":
        \"\", \n        \"cheesecake_code_kwalitee_id\": null, \n        \"keywords\":
        \"\", \n        \"package_url\": \"http://pypi.python.org/pypi/cryptography\",
        \n        \"author[...]
