interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/toptal/license-cop/git/trees/master?recursive=1
  response:
    body: {string: '{"sha":"b8925f5ee6c74dd1731f6b9603a381812aca263d","url":"https://api.github.com/repos/toptal/license-cop/git/trees/b8925f5ee6c74dd1731f6b9603a381812aca263d","tree":[{"path":".gitignore","mode":"100644","type":"blob","sha":"a6767c7c61202ecf1211b95db17d3eb2e46d3e12","size":1164,"url":"https://api.github.com/repos/toptal/license-cop/git/blobs/a6767c7c61202ecf1211b95db17d3eb2e46d3e12"},{"path":"LICENSE","mode":"100644","type":"blob","sha":"496115fe727bf039aa244c81f4e839e864abe38a","size":1063,"url":"https://api.github.com/repos/toptal/license-cop/git/blobs/496115fe727bf039aa244c81f4e839e864abe38a"},{"path":"Pipfile","mode":"100644","type":"blob","sha":"bfc703f4afc88b26dcfd8c9c6d66ca8d30be6e66","size":165,"url":"https://api.github.com/repos/toptal/license-cop/git/blo[...]
