interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3563']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements.test.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3562']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements-test.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3560']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements_test.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3558']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/test-requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3555']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/test.requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3553']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/test_requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3551']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements.testing.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3548']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements-testing.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3545']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements_testing.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3543']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/testing-requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3540']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/testing.requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3537']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/testing_requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3534']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/dev-requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3532']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/dev.requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3529']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/dev_requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3528']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements-dev.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3527']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements.dev.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3525']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements_dev.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3523']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/development-requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3522']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/development.requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3521']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/development_requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3518']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements-development.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3517']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements.development.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3515']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/requirements_development.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3512']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/toptal/license-cop/contents/Pipfile
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"b60c92d2f67702904f3b1b26781c11a8"']
      Last-Modified: ['Fri, 29 Sep 2017 03:10:38 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3510']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/toptal/license-cop/contents/Pipfile
  response:
    body: {string: '{"name":"Pipfile","path":"Pipfile","sha":"bfc703f4afc88b26dcfd8c9c6d66ca8d30be6e66","size":165,"url":"https://api.github.com/repos/toptal/license-cop/contents/Pipfile?ref=master","html_url":"https://github.com/toptal/license-cop/blob/master/Pipfile","git_url":"https://api.github.com/repos/toptal/license-cop/git/blobs/bfc703f4afc88b26dcfd8c9c6d66ca8d30be6e66","download_url":"https://raw.githubusercontent.com/toptal/license-cop/master/Pipfile?token=ADMStJfPtiZBe6VAhnSij873ZoYROmWOks5ZzenWwA%3D%3D","type":"file","content":"W1tzb3VyY2VdXQp1cmwgPSAiaHR0cHM6Ly9weXBpLnB5dGhvbi5vcmcvc2lt\ncGxlIgp2ZXJpZnlfc3NsID0gdHJ1ZQpbcGFja2FnZXNdCnJlcXVlc3RzID0g\nIioiCgoKCgoKCgoKCltkZXYtcGFja2FnZXNdCgpweXRlc3QgPSAiKiIKdmNy\ncHkgPSAiKiIKcHl0ZXN0LW1vY2sgPSAiKiIKCgoK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/toptal/license-cop/contents/Pipfile?ref=master","git":"https://api.github.com/repos/toptal/license-cop/git/blobs/bfc703f4afc88b26dcfd8c9c6d66ca8d30be6e66","html":"https://github.com/toptal/license-cop/blob/master/Pipfile"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"b60c92d2f67702904f3b1b26781c11a8"']
      Last-Modified: ['Fri, 29 Sep 2017 03:10:38 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3507']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 200, message: OK}
version: 1
