interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"4fa454f014e13bb2be6a554a024c13b2"']
      Last-Modified: ['Mon, 15 May 2017 08:15:32 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3601']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.test.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3600']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements-test.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3599']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements_test.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3598']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/test-requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3597']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/test.requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3596']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/test_requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3595']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.testing.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3594']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements-testing.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3593']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements_testing.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3592']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/testing-requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3591']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/testing.requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3590']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/testing_requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3589']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/dev-requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"a07b574a64a22f71872a9ccf50db6e3f"']
      Last-Modified: ['Mon, 15 May 2017 08:15:32 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3588']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/dev.requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3587']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/dev_requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3586']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements-dev.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3585']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.dev.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3584']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements_dev.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3583']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/development-requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3582']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/development.requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3581']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/development_requirements.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3580']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements-development.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3579']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.development.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3578']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements_development.txt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3577']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: HEAD
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/Pipfile
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3576']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.txt
  response:
    body: {string: '{"name":"requirements.txt","path":"requirements.txt","sha":"3af12f5c89c416fd8c1820c52d7f870c42414e50","size":11,"url":"https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.txt?ref=master","html_url":"https://github.com/alanhamlett/pip-update-requirements/blob/master/requirements.txt","git_url":"https://api.github.com/repos/alanhamlett/pip-update-requirements/git/blobs/3af12f5c89c416fd8c1820c52d7f870c42414e50","download_url":"https://raw.githubusercontent.com/alanhamlett/pip-update-requirements/master/requirements.txt","type":"file","content":"Y2xpY2s9PTYuNwo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.txt?ref=master","git":"https://api.github.com/repos/alanhamlett/pip-update-requirements/git/blobs/3af12f5c89c416fd8c1820c52d7f870c42414e50","html":"https://github.com/alanhamlett/pip-update-requirements/blob/master/requirements.txt"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"4fa454f014e13bb2be6a554a024c13b2"']
      Last-Modified: ['Mon, 15 May 2017 08:15:32 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3575']
      X-RateLimit-Reset: ['1506668400']
    status: {code: 200, message: OK}
[...]
