interactions:
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/git/trees/master?recursive=1
  response:
    body: {string: '{"sha":"49f27de0840aaee9705eb2c9090579c9442f78d5","url":"https://api.github.com/repos/alanhamlett/pip-update-requirements/git/trees/49f27de0840aaee9705eb2c9090579c9442f78d5","tree":[{"path":".coveragerc","mode":"100644","type":"blob","sha":"4c5056f8f180011f80dbff88dd3803c9fc6e9e2f","size":127,"url":"https://api.github.com/repos/alanhamlett/pip-update-requirements/git/blobs/4c5056f8f180011f80dbff88dd3803c9fc6e9e2f"},{"path":".gitignore","mode":"100644","type":"blob","sha":"a8b8ca465fbc22358c4e4d06252587e87de3f02f","size":330,"url":"https://api.github.com/repos/alanhamlett/pip-update-requirements/git/blobs/a8b8ca465fbc22358c4e4d06252587e87de3f02f"},{"path":".travis.yml","mode":"100644","type":"blob","sha":"0daff95acfcebcc5471259dcb5504f6ad2415820","size":492,"url":"https://api.gith[...]
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.txt
  response:
    body: {string: '{"name":"requirements.txt","path":"requirements.txt","sha":"3af12f5c89c416fd8c1820c52d7f870c42414e50","size":11,"url":"https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.txt?ref=master","html_url":"https://github.com/alanhamlett/pip-update-requirements/blob/master/requirements.txt","git_url":"https://api.github.com/repos/alanhamlett/pip-update-requirements/git/blobs/3af12f5c89c416fd8c1820c52d7f870c42414e50","download_url":"https://raw.githubusercontent.com/alanhamlett/pip-update-requirements/master/requirements.txt","type":"file","content":"Y2xpY2s9PTYuNwo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/requirements.txt?ref=master","git":"https://api.github.com/repos/alanhamlett/pip-update-requirements/git/blobs/3af12f5c89c416fd8c1820c52d7f870c42414e50","html":"https://github.com/alanhamlett/pip-update-requirements/blob/master/requirements.txt"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"7107d3387a05a11925d69cdbb3a7bf41"']
      Last-Modified: ['Mon, 15 May 2017 08:15:32 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['read:org, read:user, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4944']
      X-RateLimit-Reset: ['1507273919']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/dev-requirements.txt
  response:
    body: {string: '{"name":"dev-requirements.txt","path":"dev-requirements.txt","sha":"c069e5af87080385d2e6bf9e3bc0653b5790c42b","size":105,"url":"https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/dev-requirements.txt?ref=master","html_url":"https://github.com/alanham[...]
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/tests/samples/requirements.txt
  response:
    body: {string: '{"name":"requirements.txt","path":"tests/samples/requirements.txt","sha":"a9cae88a6fc8746073610fa712b67eda1e63f119","size":149,"url":"https://api.github.com/repos/alanhamlett/pip-update-requirements/contents/tests/samples/requirements.txt?ref=master","html_url":"[...]
