interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/puffing-billy.json
  response:
    body: {string: '{"name":"puffing-billy","downloads":435123,"version":"0.10.0","version_downloads":21699,"platform":"ruby","authors":"Olly
        Smith","info":"A stubbing proxy server for ruby. Connect it to your browser
        in integration tests to fake interactions with remote HTTP(S) servers.","licenses":[],"metadata":{},"sha":"6eeb7ff85f9d5eca5e45858b4e802502d1a7bd98d4b8f52ce99de79608e74d90","project_uri":"https://rubygems.org/gems/puffing-billy","gem_uri":"https://rubygems.org/gems/puffing-billy-0.10.0.gem","homepage_uri":"https://github.com/oesmith/puffing-billy","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/puffing-billy/0.10.0","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"dependencies":{"development":[{"name":"capybara","requirements":"\u003e=
        0"},{"name":"capybara-webkit","requirements":"~\u003e 1.0"},{"name":"cucumber","requirements":"\u003e=
        0"},{"name":"faraday","requirements":"\u003e= 0"},{"name":"guard","requirements":"\u003e=
        0"},{"name":"poltergeist","requirements":"\u003e= 0"},{"name":"pry","requirements":"\u003e=
        0"},{"name":"rack","requirements":"\u003e= 0"},{"name":"rb-inotify","requirements":"\u003e=
        0"},{"name":"rspec","requirements":"\u003e= 0"},{"name":"selenium-webdriver","requirements":"\u003e=
        0"},{"name":"thin","requirements":"\u003e= 0"},{"name":"watir-webdriver","requirements":"\u003e=
        0"}],"runtime":[{"name":"addressable","requirements":"~\u003e 2.4.0"},{"name":"em-http-request","requirements":"~\u003e
        1.1.0"},{"name":"em-synchrony","requirements":"\u003e= 0"},{"name":"eventmachine","requirements":"~\u003e
        1.0.4"},{"name":"eventmachine_httpserver","requirements":"\u003e= 0"},{"name":"http_parser.rb","requirements":"~\u003e
        0.6.0"},{"name":"multi_json","requirements":"\u003e= 0"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"75acc8fda2ca48906ec5db1a740d10c6"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/puffing-billy.json
  response:
    body: {string: '[{"authors":"Olly Smith","built_at":"2017-04-06T00:00:00.000Z","created_at":"2017-04-06T18:56:07.661Z","description":"A
        stubbing proxy server for ruby. Connect it to your browser in integration
        tests to fake interactions with remote HTTP(S) servers.","downloads_count":21690,"metadata":{},"number":"0.10.0","summary":"Easy
        request stubs for browser tests.","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"licenses":[],"requirements":[],"sha":"6eeb7ff85f9d5eca5e45858b4e802502d1a7bd98d4b8f52ce99de79608e74d90"},{"authors":"Olly
        Smith","built_at":"2017-01-18T00:00:00.000Z","created_at":"2017-01-18T17:19:48.876Z","description":"A
        stubbing proxy server for ruby. Connect it to your browser in integration
        tests to fake interactions with remote HTTP(S) servers.","downloads_count":13939,"metadata":{},"number":"0.9.2","summary":"Easy
        request stubs for browser tests.","[...]
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/oesmith/puffing-billy
  response:
    body: {string: '{"id":6022475,"name":"puffing-billy","full_name":"oesmith/puffing-billy","owner":{"login":"oesmith","id":116292,"avatar_url":"https://avatars0.githubusercontent.com/u/116292?v=4","gravatar_id":"","url":"https://api.github.com/users/oesmith","html_url":"https://github.com/oesmith","followers_url":"https://api.github.com/users/oesmith/followers","following_url":"https://api.github.com/users/oesmith/following{/other_user}","gists_url":"https://api.github.com/users/oesmith/gists{/gist_id}","starred_url":"https://api.github.com/users/oesmith/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/oesmith/subscriptions","organizations_url":"https://api.github.com/users/oesmith/orgs","repos_url":"https://api.github.com/users/oesmith/repos","events_url":"https://api.github.com/users/oesmith/events{/privacy}","received_events_url":"https://api.github.com/users/oesmith/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/oesmith/puffing-billy","description":"A
        rewriting web proxy for testing interactions between your browser and external
        sites.  Works with ruby + rspec.","fork":false,"url":"https://api.github.com/repos/oesmith/puffing-billy","forks_url":"https://api.github.com/repos/oesmith/puffing-billy/forks","keys_url":"https://api.github.com/repos/oesmith/puffing-billy/keys{/key_id}","collaborators_url":"https://api.github.com/repos/oesmith/puffing-billy/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/oesmith/puffing-billy/teams","hooks_url":"https://api.github.com/repos/oesmith/puffing-billy/hooks","issue_events_url":"https://api.github.com/repos/oesmith/puffing-billy/issues/events{/number}","events_url":"https://api.github.com/repos/oesmith/puffing-billy/events","assignees_url":"https://api.github.com/repos/oesmith/puffing-billy/assignees{/user}","branches_url":"https://api.github.com/repos/oesmith/puffing-billy/branches{/branch}","tags_url":"https://api.github.com/repos/oesmith/puffing-billy/tags","blobs_url":"https://api.github.com/repos/oesmith/puffing-billy/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/oesmith/puffing-billy/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/oesmith/puffing-billy/git/refs{/sha}","trees_url":"https://api.github.com/repos/oesmith/puffing-billy/git/trees{/sha}","statuses_url":"https://api.github.com/repos/oesmith/puffing-billy/statuses/{sha}","languages_url":"https://api.github.com/repos/oesmith/puffing-billy/languages","stargazers_url":"https://api.github.com/repos/oesmith/puffing-billy/stargazers","contributors_url":"https://api.github.com/repos/oesmith/puffing-billy/contributors","subscribers_url":"https://api.github.com/repos/oesmith/puffing-billy/subscribers","subscription_url":"https://api.github.com/repos/oesmith/puffing-billy/subscription","commits_url":"https://api.github.com/repos/oesmith/puffing-billy/commits{/sha}","git_commits_url":"https://api.github.com/repos/oesmith/puffing-billy/git/commits{/sha}","comments_url":"https://api.github.com/repos/oesmith/puffing-billy/comments{/number}","issue_comment_url":"https://api.github.com/repos/oesmith/puffing-billy/issues/comments{/number}","contents_url":"https://api.github.com/repos/oesmith/puffing-billy/contents/{+path}","compare_url":"https://api.github.com/repos/oesmith/puffing-billy/compare/{base}...{head}","merges_url":"https://api.github.com/repos/oesmith/puffing-billy/merges","archive_url":"https://api.github.com/repos/oesmith/puffing-billy/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/oesmith/puffing-billy/downloads","issues_url":"https://api.github.com/repos/oesmith/puffing-billy/issues{/number}","pulls_url":"https://api.github.com/repos/oesmith/puffing-billy/pulls{/number}","milestones_url":"https://api.github.com/repos/oesmith/puffing-billy/milestones{/number}","notifications_url":"https://api.github.com/repos/oesmith/puffing-billy/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/oesmith/puffing-billy/labels{/name}","releases_url":"https://api.github.com/repos/oesmith/puffing-billy/releases{/id}","deployments_url":"https://api.github.com/repos/oesmith/puffing-billy/deployments","created_at":"2012-09-30T21:24:43Z","updated_at":"2017-09-20T04:01:54Z","pushed_at":"2017-06-02T09:58:43Z","git_url":"git://github.com/oesmith/puffing-billy.git","ssh_url":"git@github.com:oesmith/puffing-billy.git","clone_url":"https://github.com/oesmith/puffing-billy.git","svn_url":"https://github.com/oesmith/puffing-billy","homepage":"","size":484,"stargazers_count":389,"watchers_count":389,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":108,"mirror_url":null,"open_issues_count":17,"forks":108,"open_issues":17,"watchers":389,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","featured":true},"network_count":108,"subscribers_count":13}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"7e00b4ec90da30234216df325e0774db"']
      Last-Modified: ['Wed, 20 Sep 2017 04:01:54 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: [repo]
      X-GitHub-Media-Type: [github.drax-preview; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4285']
      X-RateLimit-Reset: ['1506036960']
    status: {code: 200, message: OK}
version: 1
