interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/method_source.json
  response:
    body: {string: '{"name":"method_source","downloads":53522908,"version":"0.8.2","version_downloads":48991375,"platform":"ruby","authors":"John
        Mair (banisterfiend)","info":"retrieve the sourcecode for a method","licenses":[],"metadata":{},"sha":"c2e9d0f4ebefd6b37efe38fe2964337b1d315fe198cad850681fd2da0027b1bc","project_uri":"https://rubygems.org/gems/method_source","gem_uri":"https://rubygems.org/gems/method_source-0.8.2.gem","homepage_uri":"http://banisterfiend.wordpress.com","wiki_uri":"","documentation_uri":"http://www.rubydoc.info/gems/method_source/0.8.2","mailing_list_uri":"","source_code_uri":"https://github.com/banister/method_source","bug_tracker_uri":"","changelog_uri":null,"dependencies":{"development":[{"name":"bacon","requirements":"~\u003e
        1.1.0"},{"name":"rake","requirements":"~\u003e 0.9"}],"runtime":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"6046c80f8365df47b6f70466ff1ece36"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/method_source.json
  response:
    body: {string: '[{"authors":"John Mair (banisterfiend)","built_at":"2013-07-27T00:00:00.000Z","created_at":"2013-07-27T23:24:07.055Z","description":"retrieve
        the sourcecode for a method","downloads_count":48991375,"metadata":{},"number":"0.8.2","summary":"retrieve
        the sourcecode for a method","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":null,"prerelease":false,"licenses":[],"requirements":[],"sha":"c2e9d0f4ebefd6b37efe38fe2964337b1d315fe198cad850681fd2da0027b1bc"},{"authors":"John
        Mair (banisterfiend)","built_at":"2013-07-27T00:00:00.000Z","created_at":"2013-07-27T22:02:19.987Z","description":"retrieve
        the sourcecode for a method","downloads_count":1078,"metadata":{},"number":"0.8.2pre1","summary":"retrieve
        the sourcecode for a method","platform":"ruby","rubygems_version":"\u003e
        1.3.1","ruby_version":null,"prerel[...]
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/banister/method_source
  response:
    body: {string: '{"id":1174143,"name":"method_source","full_name":"banister/method_source","owner":{"login":"banister","id":17518,"avatar_url":"https://avatars3.githubusercontent.com/u/17518?v=4","gravatar_id":"","url":"https://api.github.com/users/banister","html_url":"https://github.com/banister","followers_url":"https://api.github.com/users/banister/followers","following_url":"https://api.github.com/users/banister/following{/other_user}","gists_url":"https://api.github.com/users/banister/gists{/gist_id}","starred_url":"https://api.github.com/users/banister/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/banister/subscriptions","organizations_url":"https://api.github.com/users/banister/orgs","repos_url":"https://api.github.com/users/banister/repos","events_url":"https://api.github.com/users/banister/events{/privacy}","received_events_url":"https://api.github.com/users/banister/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/banister/method_source","description":"return
        the sourcecode for a method","fork":false,"url":"https://api.github.com/repos/banister/method_source","forks_url":"https://api.github.com/repos/banister/method_source/forks","keys_url":"https://api.github.com/repos/banister/method_source/keys{/key_id}","collaborators_url":"https://api.github.com/repos/banister/method_source/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/banister/method_source/teams","hooks_url":"https://api.github.com/repos/banister/method_source/hooks","issue_events_url":"https://api.github.com/repos/banister/method_source/issues/events{/number}","events_url":"https://api.github.com/repos/banister/method_source/events","assignees_url":"https://api.github.com/repos/banister/method_source/assignees{/user}","branches_url":"https://api.github.com/repos/banister/method_source/branches{/branch}","tags_url":"https://api.github.com/repos/banister/method_source/tags","blobs_url":"https://api.github.com/repos/banister/method_source/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/banister/method_source/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/banister/method_source/git/refs{/sha}","trees_url":"https://api.github.com/repos/banister/method_source/git/trees{/sha}","statuses_url":"https://api.github.com/repos/banister/method_source/statuses/{sha}","languages_url":"https://api.github.com/repos/banister/method_source/languages","stargazers_url":"https://api.github.com/repos/banister/method_source/stargazers","contributors_url":"https://api.github.com/repos/banister/method_source/contributors","subscribers_url":"https://api.github.com/repos/banister/method_source/subscribers","subscription_url":"https://api.github.com/repos/banister/method_source/subscription","commits_url":"https://api.github.com/repos/banister/method_source/commits{/sha}","git_commits_url":"https://api.github.com/repos/banister/method_source/git/commits{/sha}","comments_url":"https://api.github.com/repos/banister/method_source/comments{/number}","issue_comment_url":"https://api.github.com/repos/banister/method_source/issues/comments{/number}","contents_url":"https://api.github.com/repos/banister/method_source/contents/{+path}","compare_url":"https://api.github.com/repos/banister/method_source/compare/{base}...{head}","merges_url":"https://api.github.com/repos/banister/method_source/merges","archive_url":"https://api.github.com/repos/banister/method_source/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/banister/method_source/downloads","issues_url":"https://api.github.com/repos/banister/method_source/issues{/number}","pulls_url":"https://api.github.com/repos/banister/method_source/pulls{/number}","milestones_url":"https://api.github.com/repos/banister/method_source/milestones{/number}","notifications_url":"https://api.github.com/repos/banister/method_source/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/banister/method_source/labels{/name}","releases_url":"https://api.github.com/repos/banister/method_source/releases{/id}","deployments_url":"https://api.github.com/repos/banister/method_source/deployments","created_at":"2010-12-16T13:43:39Z","updated_at":"2017-09-23T12:52:51Z","pushed_at":"2017-07-22T13:00:46Z","git_url":"git://github.com/banister/method_source.git","ssh_url":"git@github.com:banister/method_source.git","clone_url":"https://github.com/banister/method_source.git","svn_url":"https://github.com/banister/method_source","homepage":"","size":61,"stargazers_count":209,"watchers_count":209,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":23,"mirror_url":null,"open_issues_count":24,"forks":23,"open_issues":24,"watchers":209,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","featured":true},"network_count":23,"subscribers_count":8}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"fd2f6f7c8e9733ea538655ae8cadd26c"']
      Last-Modified: ['Sat, 23 Sep 2017 12:52:51 GMT']
      Status: [200 OK]
      X-Accepted-OAuth-Scopes: [repo]
      X-GitHub-Media-Type: [github.drax-preview; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4466']
      X-RateLimit-Reset: ['1506301141']
    status: {code: 200, message: OK}
version: 1
