interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/coulda.json
  response:
    body: {string: '{"name":"coulda","downloads":53444,"version":"0.7.1","version_downloads":3336,"platform":"ruby","authors":"Evan
        David Light","info":"Behaviour Driven Development derived from Cucumber but
        as an internal DSL with methods for reuse","licenses":null,"metadata":{},"sha":"777c3a7ed83e44198b0a624976ec99822eb6f4a44bf1513eafbc7c13997cd86c","project_uri":"https://rubygems.org/gems/coulda","gem_uri":"https://rubygems.org/gems/coulda-0.7.1.gem","homepage_uri":"http://coulda.tiggerpalace.com","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/coulda/0.7.1","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"dependencies":{"development":[],"runtime":[{"name":"yourdsl","requirements":"~\u003e
        0.7"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"a6af4e96505e399a9b8fdc5f83c54c68"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/coulda.json
  response:
    body: {string: '[{"authors":"Evan David Light","built_at":"2011-08-08T04:00:00.000Z","created_at":"2011-08-08T21:23:40.254Z","description":"Behaviour
        Driven Development derived from Cucumber but as an internal DSL with methods
        for reuse","downloads_count":3336,"metadata":{},"number":"0.7.1","summary":"Test::Unit-based
        acceptance testing DSL","platform":"ruby","rubygems_version":"\u003e= 0","ruby_version":null,"prerelease":false,"licenses":null,"requirements":null,"sha":"777c3a7ed83e44198b0a624976ec99822eb6f4a44bf1513eafbc7c13997cd86c"},{"authors":"Evan
        David Light","built_at":"2010-12-23T05:00:00.000Z","created_at":"2010-12-23T20:28:43.131Z","description":"Behaviour
        Driven Development derived from Cucumber but as an internal DSL with methods
        for reuse","downloads_count":3374,"metadata":{},"number":"0.6.3","summary":"Test::Unit-based
        acceptance testing DSL","platform":"ruby","rubyge[...]
