interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/actionview.json
  response:
    body: {string: '{"name":"actionview","downloads":59872490,"version":"5.1.4","version_downloads":157275,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Simple, battle-tested conventions and helpers
        for building web pages.","licenses":["MIT"],"metadata":{},"sha":"302f398a86337818e6f4225934b136436cab5fdfe2fcd6dd7509b1f595a417c2","project_uri":"https://rubygems.org/gems/actionview","gem_uri":"https://rubygems.org/gems/actionview-5.1.4.gem","homepage_uri":"http://www.rubyonrails.org","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/actionview/5.1.4","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"dependencies":{"development":[{"name":"actionpack","requirements":"=
        5.1.4"},{"name":"activemodel","requirements":"= 5.1.4"}],"runtime":[{"name":"activesupport","requirements":"=
        5.1.4"},{"name":"builder","requirements":"~\u003e 3.1"},{"name":"erubi","requirements":"~\u003e
        1.4"},{"name":"rails-dom-testing","requirements":"~\u003e 2.0"},{"name":"rails-html-sanitizer","requirements":"\u003e=
        1.0.3, ~\u003e 1.0"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"f6967fa29571fb3711b9cb891ec89887"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/actionview.json
  response:
    body: {string: '[{"authors":"David Heinemeier Hansson","built_at":"2017-09-08T00:00:00.000Z","created_at":"2017-09-08T00:50:24.313Z","description":"Simple,
        battle-tested conventions and helpers for building web pages.","downloads_count":157261,"metadata":{},"number":"5.1.4","summary":"Rendering
        framework putting the V in MVC (part of Rails).","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 2.2.2","prerelease":false,"licenses":["MIT"],"requirements":["none"],"sha":"302f398a86337818e6f4225934b136436cab5fdfe2fcd6dd7509b1f595a417c2"},{"authors":"David
        Heinemeier Hansson","built_at":"2017-08-24T00:00:00.000Z","created_at":"2017-08-24T19:36:22.397Z","description":"Simple,
        battle-tested conventions and helpers for building web pages.","downloads_count":2376,"metadata":{},"number":"5.1.4.rc1","summary":"Rendering
        framework putting the V in MVC (part of Rails).","platform":"ruby","ruby[...]
