interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/rspectacular.json
  response:
    body: {string: '{"name":"rspectacular","downloads":102134,"version":"0.70.7","version_downloads":2460,"platform":"ruby","authors":"jfelchner","info":"We
        rock some RSpec configurations and matchers like it ain''t nobody''s bidnezz.","licenses":[],"metadata":{},"sha":"c2dc854ad3c4ed8a745971003df5e9db4aaefb7fe9251b664510c6ea59e10fd4","project_uri":"https://rubygems.org/gems/rspectacular","gem_uri":"https://rubygems.org/gems/rspectacular-0.70.7.gem","homepage_uri":"https://github.com/jfelchner/rspectacular","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/rspectacular/0.70.7","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"dependencies":{"development":[],"runtime":[{"name":"fuubar","requirements":"~\u003e
        2.0"},{"name":"rspec","requirements":"~\u003e 3.1"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"6f260e1044c03a160346b8064069793e"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/rspectacular.json
  response:
    body: {string: '[{"authors":"jfelchner","built_at":"2016-05-11T00:00:00.000Z","created_at":"2016-05-12T03:41:10.347Z","description":"We
        rock some RSpec configurations and matchers like it ain''t nobody''s bidnezz.","downloads_count":2460,"metadata":{},"number":"0.70.7","summary":"RSpec
        Support And Matchers","platform":"ruby","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        0","prerelease":false,"licenses":[],"requirements":[],"sha":"c2dc854ad3c4ed8a745971003df5e9db4aaefb7fe9251b664510c6ea59e10fd4"},{"authors":"jfelchner","built_at":"2016-04-24T00:00:00.000Z","created_at":"2016-04-24T21:28:46.194Z","description":"We
        rock some RSpec configurations and matchers like it ain''t nobody''s bidnezz.","downloads_count":792,"metadata":{},"number":"0.70.6","summary":"RSpec
        Support And Matchers","platform":"ruby","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        [...]
- request:
    body: null
    headers:
      authorization: [token FOOBAR]
    method: GET
    uri: https://api.github.com/repos/jfelchner/rspectacular
  response:
    body: {string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [404 Not Found]
      X-Accepted-OAuth-Scopes: ['admin:repo_hook, delete_repo, read:repo_hook, repo,
          repo:status, repo:task, repo_deployment, write:repo_hook']
      X-GitHub-Media-Type: [github.drax-preview; format=json]
      X-OAuth-Scopes: ['read:org, repo']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4465']
      X-RateLimit-Reset: ['1506301141']
    status: {code: 404, message: Not Found}
version: 1
