interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/activesupport.json
  response:
    body: {string: '{"name":"activesupport","downloads":148308908,"version":"5.1.4","version_downloads":166585,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"A toolkit of support libraries and Ruby core extensions
        extracted from the Rails framework. Rich support for multibyte strings, internationalization,
        time zones, and testing.","licenses":["MIT"],"metadata":{},"sha":"9969d4fdc7e1fad82f02f457b03995baa74928e99f73d035564c9eec7426ee69","project_uri":"https://rubygems.org/gems/activesupport","gem_uri":"https://rubygems.org/gems/activesupport-5.1.4.gem","homepage_uri":"http://rubyonrails.org","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/activesupport/5.1.4","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"dependencies":{"development":[],"runtime":[{"name":"concurrent-ruby","requirements":"\u003e=
        1.0.2, ~\u003e 1.0"},{"name":"i18n","requirements":"~\u003e 0.7"},{"name":"minitest","requirements":"~\u003e
        5.1"},{"name":"tzinfo","requirements":"~\u003e 1.1"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"df6d30b317cd04bb3e1cece709eff300"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/activesupport.json
  response:
    body: {string: '[{"authors":"David Heinemeier Hansson","built_at":"2017-09-08T00:00:00.000Z","created_at":"2017-09-08T00:49:39.250Z","description":"A
        toolkit of support libraries and Ruby core extensions extracted from the Rails
        framework. Rich support for multibyte strings, internationalization, time
        zones, and testing.","downloads_count":166585,"metadata":{},"number":"5.1.4","summary":"A
        toolkit of support libraries and Ruby core extensions extracted from the Rails
        framework.","platform":"ruby","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        2.2.2","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"9969d4fdc7e1fad82f02f457b03995baa74928e99f73d035564c9eec7426ee69"},{"authors":"David
        Heinemeier Hansson","built_at":"2017-08-24T00:00:00.000Z","created_at":"2017-08-24T19:35:47.048Z","description":"A
        toolkit of support libraries and Ruby core extensions extracted from the Rails
        framework. Rich support for multibyte strings, internationalization, time
        zones, and testing.","downloads_count":2869,"metadata":{},"number[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby.json
  response:
    body: {string: '{"name":"concurrent-ruby","downloads":30379470,"version":"1.0.5","version_downloads":9075226,"platform":"ruby","authors":"Jerry
        D''Antonio, Petr Chalupa, The Ruby Concurrency Team","info":"Modern concurrency
        tools including agents, futures, promises, thread pools, actors, supervisors,
        and more.\nInspired by Erlang, Clojure, Go, JavaScript, actors, and classic
        concurrency patterns.\n","licenses":["MIT"],"metadata":{},"sha":"8ee1206d0145a51f9ebdf735e4b5d6a957e085323b9db32e9b04f557dcd774a0","project_uri":"https://rubygems.org/gems/concurrent-ruby","gem_uri":"https://rubygems.org/gems/concurrent-ruby-1.0.5.gem","homepage_uri":"http://www.concurrent-ruby.com","wiki_uri":"","documentation_uri":"http://ruby-concurrency.github.io/concurrent-ruby/frames.html","mailing_list_uri":"https://groups.google.com/forum/#!forum/concurrent-ruby","source_code_uri":"https://github.com/ruby-concurrency/concurrent-ruby","bug_tracker_uri":"https://github.com/ruby-concurrency/concurrent-ruby/issues","changelog_uri":null,"dependencies":{"development":[],"runtime":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"085f7adb6e020e4ff49e0a9d15023b02"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/concurrent-ruby.json
  response:
    body: {string: '[{"authors":"Jerry D''Antonio, Petr Chalupa, The Ruby Concurrency
        Team","built_at":"2017-02-26T00:00:00.000Z","created_at":"2017-02-26T17:09:45.127Z","description":"Modern
        concurrency tools including agents, futures, promises, thread pools, actors,
        supervisors, and more.\nInspired by Erlang, Clojure, Go, JavaScript, acto[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/i18n.json
  response:
    body: {string: '{"name":"i18n","downloads":142456454,"version":"0.8.6","version_downloads":3736590,"platform":"ruby","authors":"Sven
        Fuchs, Joshua Harvey, Matt Aimonetti, Stephan Soller, Saimon Moore","info":"New
        wave Internationalization support for Ruby.","licenses":["MIT"],"metadata":{},"sha":"7ca679585b623bb994c89f2ac86fe1ce99daafd4121c29f934e848edfec66ac4","project_uri":"https://rubygems.org/gems/i18n","gem_uri":"https://rubygems.org/gems/i18n-0.8.6.gem","homepage_uri":"http://github.com/svenfuchs/i18n","wiki_uri":"","documentation_uri":"http://rails-i18n.org","mailing_list_uri":"http://groups.google.com/group/rails-i18n","source_code_uri":"http://github.com/svenfuchs/i18n","bug_tracker_uri":"http://i18n.lighthouseapp.com","changelog_uri":null,"dependencies":{"development":[],"runtime":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"2aa3adcc9c0428f4572a69a5e5951fc0"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/i18n.json
  response:
    body: {string: '[{"authors":"Sven Fuchs, Joshua Harvey, Matt Aimonetti, Stephan
        Soller, Saimon Moore","built_at":"2017-07-10T00:00:00.000Z","created_at":"2017-07-10T05:39:29.463Z","description":"New
        wave Internationalization support for Ruby.","downloads_count":3736590,"metadata":{},"number":"0.8.6","summary":"New
        wave Internationalization support[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/minitest.json
  response:
    body: {string: '{"name":"minitest","downloads":104533339,"version":"5.10.3","version_downloads":2561423,"platform":"ruby","authors":"Ryan
        Davis","info":"minitest provides a complete suite of testing facilities supporting\nTDD,
        BDD, mocking, and benchmarking.\n\n    \"I had a class with Jim Weirich on
        testing last week and we were\n     allowed to [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/minitest.json
  response:
    body: {string: "[{\"authors\":\"Ryan Davis\",\"built_at\":\"2017-07-21T00:00:00.000Z\",\"created_at\":\"2017-07-21T09:28:32.069Z\",\"description\":\"minitest
        provides a complete suite of testing facilities supporting\\nTDD, BDD, mocking,
        and benchmarking.\\n\\n    \\\"I had a class with Jim Weirich on testing last
        week and we were\\n     allow[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/tzinfo.json
  response:
    body: {string: '{"name":"tzinfo","downloads":134262218,"version":"1.2.3","version_downloads":9940417,"platform":"ruby","authors":"Philip
        Ross","info":"TZInfo provides daylight savings aware transformations between
        times in different time zones.","licenses":["MIT"],"metadata":{},"sha":"9469862963cf5e8f12bb7d1cf89e681ebfee417537f6835b2e471c7c260d2817","project_uri":"https://rubygems.org/gems/tzinfo","gem_uri":"https://rubygems.org/gems/tzinfo-1.2.3.gem","homepage_uri":"http://tzinfo.github.io","wiki_uri":"","documentation_uri":"http://www.rubydoc.info/gems/tzinfo/1.2.3","mailing_list_uri":"http://rubyforge.org/mail/?group_id=894","source_code_uri":"https://github.com/tzinfo/tzinfo","bug_tracker_uri":"https://github.com/tzinfo/tzinfo/issues","changelog_uri":null,"dependencies":{"development":[],"runtime":[{"name":"thread_safe","requirements":"~\u003e
        0.1"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"fd6a16736059c086d29915fb970b8447"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/tzinfo.json
  response:
    body: {string: '[{"authors":"Philip Ross","built_at":"2017-03-25T00:00:00.000Z","created_at":"2017-03-25T18:43:04.312Z","description":"TZInfo
        provides daylight savings aware transformations between times in different
        time zones.","downloads_count":9940417,"metadata":{},"number":"1.2.3","summary":"Daylight
        savings aware timezone library","platfor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/thread_safe.json
  response:
    body: {string: '{"name":"thread_safe","downloads":100561427,"version":"0.3.6","version_downloads":12851746,"platform":"ruby","authors":"Charles
        Oliver Nutter, thedarkone","info":"A collection of data structures and utilities
        to make thread-safe programming in Ruby easier","licenses":["Apache-2.0"],"metadata":{},"sha":"9ed7072821b51c57e8d6b7011a8e282e25aeea3a4065eab326e43f66f063b05a","project_uri":"https://rubygems.org/gems/thread_safe","gem_uri":"https://rubygems.org/gems/thread_safe-0.3.6.gem","homepage_uri":"https://github.com/ruby-concurrency/thread_safe","wiki_uri":"","documentation_uri":"http://ruby-concurrency.github.io/thread_safe/frames.html","mailing_list_uri":"https://groups.google.com/forum/#!forum/concurrent-ruby","source_code_uri":"https://github.com/ruby-concurrency/thread_safe","bug_tracker_uri":"https://github.com/ruby-concurrency/thread_safe/issues","changelog_uri":null,"dependencies":{"development":[{"name":"atomic","requirements":"=
        1.1.16"},{"name":"rake","requirements":"\u003c 12.0"},{"name":"rspec","requirements":"~\u003e
        3.2"}],"runtime":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"a10db2c2eec0c10421dbbbe6a8ac1c1c"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/thread_safe.json
  response:
    body: {string: '[{"authors":"Charles Oliver Nutter, thedarkone","built_at":"2017-02-22T00:00:00.000Z","created_at":"2017-02-22T19:51:15.835Z","description":"A
        collection of data structures and utilities to make thread-safe programming
        in Ruby easier","downloads_count":510028,"metadata":{},"number":"0.3.6","summary":"Thread-safe
        collections [...]
