interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/rubocop.json
  response:
    body: {string: '[{"authors":"Bozhidar Batsov, Jonas Arvidsson, Yuji Nakayama","built_at":"2017-09-14T00:00:00.000Z","created_at":"2017-09-14T18:13:15.476Z","description":"    Automatic
        Ruby code style checking tool.\n    Aims to enforce the community-driven Ruby
        Style Guide.\n","downloads_count":18776,"metadata":{"homepage_uri":"https://rubocop.readthedocs.io/","changelog_uri":"https://github.com/bbatsov/rubocop/blob/master/CHANGELOG.md","bug_tracker_uri":"https://github.com/bbatsov/rubocop/issues","source_code_uri":"https://github.com/bbatsov/rubocop/","documentation_uri":"https://rubocop.readthedocs.io/"},"number":"0.50.0","summary":"Automatic
        Ruby code style checking tool.","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 2.0.0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"9f7610b37b6746609c932ec8ac5b1a9b4b56f7526018c941393e79b2d93fedc2"},{"authors":"Bozhidar
        Batsov, Jonas Arvidsson, Yuji Nakayama","built_at":"2017-05-29T00:00:00.000Z","created_at":"2017-05-29T12:34:28.077Z","description":"    Automatic
        Ruby code style checking tool.\n    Aims to enforce the community-driven Ruby
        Style Guide.\n","downloads_count":1613084,"metadata":{},"number":"0.49.1","summary":"Automatic
        Ruby code style checking tool.","platform":"ruby","rubygems[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/rubocop.json
  response:
    body: {string: '{"name":"rubocop","downloads":20988319,"version":"0.50.0","version_downloads":18776,"platform":"ruby","authors":"Bozhidar
        Batsov, Jonas Arvidsson, Yuji Nakayama","info":"    Automatic Ruby code style
        checking tool.\n    Aims to enforce the community-driven Ruby Style Guide.\n","licenses":["MIT"],"metadata":{"homepage_uri":"https://rubocop.readthedocs.io/","changelog_uri":"https://github.com/bbatsov/rubocop/blob/master/CHANGELOG.md","bug_tracker_uri":"https://github.com/bbatsov/rubocop/issues","source_code_uri":"https://github.com/bbatsov/rubocop/","documentation_uri":"https://rubocop.readthedocs.io/"},"sha":"9f7610b37b6746609c932ec8ac5b1a9b4b56f7526018c941393e79b2d93fedc2","project_uri":"https://rubygems.org/gems/rubocop","gem_uri":"https://rubygems.org/gems/rubocop-0.50.0.gem","homepage_uri":"https://rubocop.readthedocs.io/","wiki_uri":null,"documentation_uri":"https://rubocop.readthedocs.io/","mailing_list_uri":null,"source_code_uri":"https://github.com/bbatsov/rubocop/","bug_tracker_uri":"https://github.com/bbatsov/rubocop/issues","changelog_uri":"https://github.com/bbatsov/rubocop/blob/master/CHANGELOG.md","dependencies":{"development":[{"name":"bundler","requirements":"~\u003e
        1.3"}],"runtime":[{"name":"parallel","requirements":"~\u003e 1.10"},{"name":"parser","requirements":"\u003c
        3.0, \u003e= 2.3.3.1"},{"name":"powerpack","requirements":"~\u003e 0.1"},{"name":"rainbow","requirements":"\u003c
        3.0, \u003e= 2.2.2"},{"name":"ruby-progressbar","requirements":"~\u003e 1.7"},{"name":"unicode-display_width","requirements":"\u003e=
        1.0.1, ~\u003e 1.0"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"baa8ab2673933171176472bdbffa7d00"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
version: 1
