interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/rdiscount.json
  response:
    body: {string: '{"name":"rdiscount","downloads":3899954,"version":"2.2.0.1","version_downloads":388685,"platform":"ruby","authors":"Ryan
        Tomayko, David Loren Parsons, Andrew White, David Foster","info":"Fast Implementation
        of Gruber''s Markdown in C","licenses":["BSD-3-Clause"],"metadata":{},"sha":"a34f55937c84f390f979808c7002fd24ab1e8b0172c916b0563d5f03e6983bab","project_uri":"https://rubygems.org/gems/rdiscount","gem_uri":"https://rubygems.org/gems/rdiscount-2.2.0.1.gem","homepage_uri":"http://dafoster.net/projects/rdiscount/","wiki_uri":"https://github.com/davidfstr/rdiscount/wiki","documentation_uri":"http://rdoc.info/github/davidfstr/rdiscount/master/RDiscount","mailing_list_uri":"","source_code_uri":"https://github.com/davidfstr/rdiscount","bug_tracker_uri":"https://github.com/davidfstr/rdiscount/issues","changelog_uri":null,"dependencies":{"development":[],"runtime":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"70e97cd7954872ed18e9490fe7d50aec"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
version: 1
