interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/rdiscount.json
  response:
    body: {string: '{"name":"rdiscount","downloads":3904104,"version":"2.2.0.1","version_downloads":390312,"platform":"ruby","authors":"Ryan
        Tomayko, David Loren Parsons, Andrew White, David Foster","info":"Fast Implementation
        of Gruber''s Markdown in C","licenses":["BSD-3-Clause"],"metadata":{},"sha":"a34f55937c84f390f979808c7002fd24ab1e8b0172c916b0563d5f03e6983bab","project_uri":"https://rubygems.org/gems/rdiscount","gem_uri":"https://rubygems.org/gems/rdiscount-2.2.0.1.gem","homepage_uri":"http://dafoster.net/projects/rdiscount/","wiki_uri":"https://github.com/davidfstr/rdiscount/wiki","documentation_uri":"http://rdoc.info/github/davidfstr/rdiscount/master/RDiscount","mailing_list_uri":"","source_code_uri":"https://github.com/davidfstr/rdiscount","bug_tracker_uri":"https://github.com/davidfstr/rdiscount/issues","changelog_uri":null,"dependencies":{"development":[],"runtime":[]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"8addf2c60487ea825d4a3f6b7613564d"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/rdiscount.json
  response:
    body: {string: '[{"authors":"Ryan Tomayko, David Loren Parsons, Andrew White,
        David Foster","built_at":"2016-05-07T00:00:00.000Z","created_at":"2016-05-08T00:58:06.174Z","description":"","downloads_count":390303,"metadata":{},"number":"2.2.0.1","summary":"Fast
        Implementation of Gruber''s Markdown in C","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"!= 1.9.2","prerelease":false,"licenses":["BSD-3-Clause"],"requirements":[],"sha":"a34f55937c84f390f979808c7002fd24ab1e8b0172c916b0563d5f03e6983bab"},{"authors":"Ryan
        Tomayko, David Loren Parsons, Andrew White, David Foster","built_at":"2015-02-01T00:00:00.000Z","created_at":"2016-05-08T00:47:12.153Z","description":"","downloads_count":1606,"metadata":{},"number":"2.2.0","summary":"Fast
        Implementation of Gruber''s Markdown in C","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"!= 1.9.2","prerelease":false,"licenses":["BSD-3-Cla[...]
