interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/rails.json
  response:
    body: {string: '{"name":"rails","downloads":107960235,"version":"5.1.4","version_downloads":83060,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Ruby on Rails is a full-stack web framework optimized
        for programmer happiness and sustainable productivity. It encourages beautiful
        code by favoring convention over configuration.","licenses":["MIT"],"metadata":{},"sha":"5cc2192045678789e5e7b289476af8bc0a79210ee6713886200cb303ed6f98b8","project_uri":"https://rubygems.org/gems/rails","gem_uri":"https://rubygems.org/gems/rails-5.1.4.gem","homepage_uri":"http://rubyonrails.org","wiki_uri":"","documentation_uri":"http://api.rubyonrails.org","mailing_list_uri":"http://groups.google.com/group/rubyonrails-talk","source_code_uri":"http://github.com/rails/rails","bug_tracker_uri":"http://github.com/rails/rails/issues","changelog_uri":null,"dependencies":{"development":[],"runtime":[{"name":"actioncable","requirements":"=
        5.1.4"},{"name":"actionmailer","requirements":"= 5.1.4"},{"name":"actionpack","requirements":"=
        5.1.4"},{"name":"actionview","requirements":"= 5.1.4"},{"name":"activejob","requirements":"=
        5.1.4"},{"name":"activemodel","requirements":"= 5.1.4"},{"name":"activerecord","requirements":"=
        5.1.4"},{"name":"activesupport","requirements":"= 5.1.4"},{"name":"bundler","requirements":"\u003e=
        1.3.0"},{"name":"railties","requirements":"= 5.1.4"},{"name":"sprockets-rails","requirements":"\u003e=
        2.0.0"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"7764864faa5ed64450bb71b57449f897"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
version: 1
