interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/gems/bundler.json
  response:
    body: {string: "{\"name\":\"bundler\",\"downloads\":194322370,\"version\":\"1.15.4\",\"version_downloads\":4877679,\"platform\":\"ruby\",\"authors\":\"Andr\xE9
        Arko, Samuel Giddins, Chris Morris, James Wen, Tim Moore, Andr\xE9 Medeiros,
        Jessica Lynn Suttles, Terence Lee, Carl Lerche, Yehuda Katz\",\"info\":\"Bundler
        manages an application's dependencies through its entire life, across many
        machines, systematically and repeatably\",\"licenses\":[\"MIT\"],\"metadata\":{\"homepage_uri\":\"https://bundler.io/\",\"changelog_uri\":\"https://github.com/bundler/bundler/blob/master/CHANGELOG.md\",\"bug_tracker_uri\":\"http://github.com/bundler/bundler/issues\",\"source_code_uri\":\"http://github.com/bundler/bundler/\"},\"sha\":\"fad17ea3a1c15df2f2a7fcea052b35ebeab0dc87906cd762470637bef8c98472\",\"project_uri\":\"https://rubygems.org/gems/bundler\",\"gem_uri\":\"https://rubygems.org/gems/bundler-1.15.4.gem\",\"homepage_uri\":\"https://bundler.io/\",\"wiki_uri\":\"\",\"documentation_uri\":\"http://bundler.io\",\"mailing_list_uri\":\"http://groups.google.com/group/ruby-bundler?hl=en\",\"source_code_uri\":\"http://github.com/bundler/bundler/\",\"bug_tracker_uri\":\"http://github.com/bundler/bundler/issues\",\"changelog_uri\":\"https://github.com/bundler/bundler/blob/master/CHANGELOG.md\",\"dependencies\":{\"development\":[{\"name\":\"automatiek\",\"requirements\":\"~\\u003e
        0.1.0\"},{\"name\":\"mustache\",\"requirements\":\"= 0.99.6\"},{\"name\":\"rake\",\"requirements\":\"~\\u003e
        10.0\"},{\"name\":\"rdiscount\",\"requirements\":\"~\\u003e 2.2\"},{\"name\":\"ronn\",\"requirements\":\"~\\u003e
        0.7.3\"},{\"name\":\"rspec\",\"requirements\":\"~\\u003e 3.5\"}],\"runtime\":[]}}"}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"b652481164d0ad573627c799223894f3"']
      X-Backend: ['F_Rails 54.186.104.15:443']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/bundler.json
  response:
    body: {string: "[{\"authors\":\"Andr\xE9 Arko, Samuel Giddins, Chris Morris, James
        Wen, Tim Moore, Andr\xE9 Medeiros, Jessica Lynn Suttles, Terence Lee, Carl
        Lerche, Yehuda Katz\",\"built_at\":\"2017-09-07T00:00:00.000Z\",\"created_at\":\"2017-09-07T02:39:06.891Z\",\"description\":\"Bundler
        manages an application's dependencies through its entire life, across many
        machines, systematically and repeatably\",\"downloads_count\":26188,\"metadata\":{\"homepage_uri\":\"https://bundler.io/\",\"changelog_uri\":\"https://github.com/bundler/bundler/blob/master/CHANGELOG.md\",\"bug_tracker_uri\":\"http://github.com/bundler/bundler/issues\",\"source_code_uri\":\"http://github.com/bundler/bundler/\"},\"number\":\"1.16.0.pre.2\",\"summary\":\"The
        best way to manage your application's dependencies\",\"platform\":\"ruby\",\"rubygems_version\":\"\\u003e=
        1.3.6\",\"ruby_version\":\"\\u003e= 1.8.7\",\"prerelease\":true,\"licenses\":[\"MIT\"],\"requirements\":[],\"sha\":\"36538119329b96dd841b37de845748a49787fe62d0d6297796c029c9fe1a8ae9\"},{\"authors\":\"Andr\xE9
        Arko, Samuel Giddins, Chris Morris, James Wen, Tim Moore, Andr\xE9 Medeiros,
        Jessica Lynn Suttles, Terence Lee, Carl Lerche, Yehuda Katz\",\"built_at\":\"2017-09-05T00:00:00.000Z\",\"created_at\":\"2017-09-05T04:16:42.086Z\",\"description\":\"Bundler
        manages an application's dependencies through its entire life, across many
[...]
